# 1.Data Structuring

(https://youtu.be/SIAuzrB3OSU?feature=shared)

In [1]:
import numpy as np
import pandas as pd
import ast

# Driver Code

In [2]:
# function to safely converts JSON-like string to dictionaries
# ex: "{'name':'rock', 'age': '23'}" ====> {'name':'rock', 'age': 23}
def parse_json_column(df, column_name):
    for col in column_name:
        df[col] = df[col].apply(ast.literal_eval)
    return df


# Function to convert a list of dictionaries to a dictionary
def list_to_dict(lst):
    if isinstance(lst, list) and lst:
        # Check if 'key' exists in the first dictionary to determine the structure
        if 'key' in lst[0]:
            # If each dict has 'key' and 'value', use 'key' as dict key and 'value' as dict value
            return {item['key']: item['value'] for item in lst if 'key' in item and 'value' in item}
        elif 'value' in lst[0]:
            # If only 'value' is present, use index as the key and 'value' as dict value
            return {index: item['value'] for index, item in enumerate(lst) if 'value' in item}
    return {}  # Return an empty dict if input is not a valid list or contains invalid data

# Bangalore Data Structuring

In [3]:
bangolore_df = pd.read_excel('./Dataset/bangalore_cars.xlsx')
bangolore_df.head()

,new_car_detail,new_car_overview,new_car_feature,new_car_specs,car_links
0,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...
2,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
3,"{'it': 0, 'ft': 'Petrol', 'bt': 'Sedan', 'km':...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...
4,"{'it': 0, 'ft': 'Diesel', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...

In [4]:
bangolore_df.shape

(1481, 5)

In [5]:
# drop the car links column
bangolore_df.drop('car_links', axis=1, inplace=True)

In [6]:
bangolore_df.head()

,new_car_detail,new_car_overview,new_car_feature,new_car_specs
0,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ..."
1,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ..."
2,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ..."
3,"{'it': 0, 'ft': 'Petrol', 'bt': 'Sedan', 'km':...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ..."
4,"{'it': 0, 'ft': 'Diesel', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ..."

In [7]:
# convert all the JSON-like string columns  into dict safely
bangolore_df = parse_json_column(bangolore_df, bangolore_df.columns)

## New Car Details

In [8]:
# Expand or flatten the JSON into dataframe
new_car_details_blr = pd.json_normalize(bangolore_df['new_car_detail'])
new_car_details_blr.head()

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,centralVariantId,variantName,price,priceActual,priceSaving,priceFixedText,trendingText.imgUrl,trendingText.heading,trendingText.desc
0,0,Petrol,Hatchback,"1,20,000",Manual,3,3rd Owner,Maruti,Maruti Celerio,2015,3979,VXI,₹ 4 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1,0,Petrol,SUV,"32,706",Manual,2,2nd Owner,Ford,Ford Ecosport,2018,6087,1.5 Petrol Titanium BSIV,₹ 8.11 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
2,0,Petrol,Hatchback,"11,949",Manual,1,1st Owner,Tata,Tata Tiago,2018,2983,1.2 Revotron XZ,₹ 5.85 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
3,0,Petrol,Sedan,"17,794",Manual,1,1st Owner,Hyundai,Hyundai Xcent,2014,1867,1.2 Kappa S Option,₹ 4.62 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
4,0,Diesel,SUV,"60,000",Manual,1,1st Owner,Maruti,Maruti SX4 S Cross,2015,4277,DDiS 200 Zeta,₹ 7.90 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days

## New Car Overview

In [9]:

new_car_overview = pd.json_normalize(bangolore_df['new_car_overview'])
new_car_overview.head()

        heading                                                top bottomData
0  Car overview  [{'key': 'Registration Year', 'value': '2015',...       None
1  Car overview  [{'key': 'Registration Year', 'value': 'Feb 20...       None
2  Car overview  [{'key': 'Registration Year', 'value': 'Sept 2...       None
3  Car overview  [{'key': 'Registration Year', 'value': 'Dec 20...       None
4  Car overview  [{'key': 'Registration Year', 'value': '2015',...       None

In [10]:
# drop the bottomData column
new_car_overview.drop('bottomData', axis=1, inplace=True)

In [11]:
new_car_overview['top'][0]

[{'key': 'Registration Year',
  'value': '2015',
  'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/registrationYear.svg'},
 {'key': 'Insurance Validity',
  'value': 'Third Party insurance',
  'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/insuranceValidity.svg'},
 {'key': 'Fuel Type',
  'value': 'Petrol',
  'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/fuel.svg'},
 {'key': 'Seats',
  'value': '5 Seats',
  'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/seats.svg'},
 {'key': 'Kms Driven',
  'value': '1,20,000 Kms',
  'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/kmsDriven.svg'},
 {'key': 'RTO',
  'value': 'KA51',
  'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/rto.svg'},
 {'key': 'Ownership',
  'value': 'Third Owner',
  'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/ownership.svg'},
 {'key': 'Engine Displacement',
  'value': '998 cc',
  'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/engineDisplacement.svg'},
 {'key': 'Transmission',
  'value': 'Manual',
  'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/transmission.svg'},
 {'key': 'Year of Manufacture',
  'value': 2015,
  'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/yearManufacture.svg'}]

In [12]:

new_car_overview = new_car_overview['top'].apply(list_to_dict)

In [13]:
new_car_overview_blr = pd.json_normalize(new_car_overview)
new_car_overview_blr

,Registration Year,Insurance Validity,Fuel Type,Seats,Kms Driven,RTO,Ownership,Engine Displacement,Transmission,Year of Manufacture
0,2015,Third Party insurance,Petrol,5 Seats,"1,20,000 Kms",KA51,Third Owner,998 cc,Manual,2015.0
1,Feb 2018,Comprehensive,Petrol,5 Seats,"32,706 Kms",KA05,Second Owner,1497 cc,Manual,2018.0
2,Sept 2018,Comprehensive,Petrol,5 Seats,"11,949 Kms",KA03,First Owner,1199 cc,Manual,2018.0
3,Dec 2014,Comprehensive,Petrol,5 Seats,"17,794 Kms",KA53,First Owner,1197 cc,Manual,2014.0
4,2015,Third Party insurance,Diesel,5 Seats,"60,000 Kms",KA04,First Owner,1248 cc,Manual,2015.0
...,...,...,...,...,...,...,...,...,...,...
1476,May 2012,Comprehensive,Diesel,7 Seats,"1,56,039 Kms",KA01,Second Owner,2982 cc,Manual,2012.0
1477,Jun 2008,Third Party insurance,Petrol,5 Seats,"56,000 Kms",KA02,Second Owner,1586 cc,Manual,2008.0
1478,Sept 2014,Comprehensive,Petrol,5 Seats,"42,000 Kms",KA03,Second Owner,1198 cc,Manual,2014.0
1479,Dec 2018,Comprehensive,Diesel,5 Seats,"93,003 Kms",KA03,First Owner,1396 cc,Manual,2018.0
1480,May 2017,Comprehensive,Petrol,5 Seats,"36,000 Kms",KA04,Second Owner,1197 cc,Automatic,2017.0

## New Car Feature

In [14]:
# view new car feature
bangolore_df['new_car_feature']

0       {'heading': 'Features', 'top': [{'value': 'Pow...
1       {'heading': 'Features', 'top': [{'value': 'Pow...
2       {'heading': 'Features', 'top': [{'value': 'Pow...
3       {'heading': 'Features', 'top': [{'value': 'Pow...
4       {'heading': 'Features', 'top': [{'value': 'Pow...
                              ...
1476    {'heading': 'Features', 'top': [{'value': 'Pow...
1477    {'heading': 'Features', 'top': [{'value': 'Pow...
1478    {'heading': 'Features', 'top': [{'value': 'Pow...
1479    {'heading': 'Features', 'top': [{'value': 'Pow...
1480    {'heading': 'Features', 'top': [{'value': 'Pow...
Name: new_car_feature, Length: 1481, dtype: object

In [15]:
# json normalize
new_car_feature = pd.json_normalize(bangolore_df['new_car_feature'])
new_car_feature

,heading,top,data,commonIcon
0,Features,"[{'value': 'Power Steering'}, {'value': 'Power...","[{'heading': 'Comfort & Convenience', 'subHead...",https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg
1,Features,"[{'value': 'Power Steering'}, {'value': 'Power...","[{'heading': 'Comfort & Convenience', 'subHead...",https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg
2,Features,"[{'value': 'Power Steering'}, {'value': 'Power...","[{'heading': 'Comfort & Convenience', 'subHead...",https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg
3,Features,"[{'value': 'Power Steering'}, {'value': 'Power...","[{'heading': 'Comfort & Convenience', 'subHead...",https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg
4,Features,"[{'value': 'Power Steering'}, {'value': 'Power...","[{'heading': 'Comfort & Convenience', 'subHead...",https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg
...,...,...,...,...
1476,Features,"[{'value': 'Power Steering'}, {'value': 'Power...","[{'heading': 'Comfort & Convenience', 'subHead...",https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg
1477,Features,"[{'value': 'Power Steering'}, {'value': 'Power...","[{'heading': 'Comfort & Convenience', 'subHead...",https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg
1478,Features,"[{'value': 'Power Steering'}, {'value': 'Power...","[{'heading': 'Comfort & Convenience', 'subHead...",https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg
1479,Features,"[{'value': 'Power Steering'}, {'value': 'Power...","[{'heading': 'Comfort & Convenience', 'subHead...",https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg
1480,Features,"[{'value': 'Power Steering'}, {'value': 'Power...","[{'heading': 'Comfort & Convenience', 'subHead...",https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg

In [16]:
# drop the commonicon
new_car_feature.drop('commonIcon', axis=1, inplace=True)

In [17]:
new_car_feature['top'][0]

[{'value': 'Power Steering'},
 {'value': 'Power Windows Front'},
 {'value': 'Air Conditioner'},
 {'value': 'Heater'},
 {'value': 'Adjustable Head Lights'},
 {'value': 'Manually Adjustable Exterior Rear View Mirror'},
 {'value': 'Centeral Locking'},
 {'value': 'Child Safety Locks'}]

In [18]:
# top column
new_car_feature_top = new_car_feature['top'].apply(list_to_dict)
new_car_feature_top = pd.json_normalize(new_car_feature_top)
new_car_feature_top

,0,1,2,3,4,5,6,7,8
0,Power Steering,Power Windows Front,Air Conditioner,Heater,Adjustable Head Lights,Manually Adjustable Exterior Rear View Mirror,Centeral Locking,Child Safety Locks,NaN
1,Power Steering,Power Windows Front,Air Conditioner,Heater,Adjustable Head Lights,Fog Lights Front,Anti Lock Braking System,Centeral Locking,Cd Player
2,Power Steering,Power Windows Front,Air Conditioner,Heater,Adjustable Head Lights,Fog Lights Front,Anti Lock Braking System,Centeral Locking,Cd Player
3,Power Steering,Power Windows Front,Air Conditioner,Heater,Adjustable Head Lights,Fog Lights Front,Anti Lock Braking System,Centeral Locking,Cd Player
4,Power Steering,Power Windows Front,Air Conditioner,Heater,Adjustable Head Lights,Fog Lights Front,Anti Lock Braking System,Centeral Locking,Radio
...,...,...,...,...,...,...,...,...,...
1476,Power Steering,Power Windows Front,Air Conditioner,Heater,Adjustable Head Lights,Fog Lights Front,Anti Lock Braking System,Brake Assist,Cd Player
1477,Power Steering,Power Windows Front,Air Conditioner,Heater,Fog Lights Front,Fog Lights Rear,Anti Lock Braking System,Brake Assist,Cd Player
1478,Power Steering,Power Windows Front,Air Conditioner,Heater,Adjustable Head Lights,Power Adjustable Exterior Rear View Mirror,Centeral Locking,Power Door Locks,Radio
1479,Power Steering,Power Windows Front,Air Conditioner,Heater,Adjustable Head Lights,Fog Lights Front,Anti Lock Braking System,Centeral Locking,Cd Player
1480,Power Steering,Power Windows Front,Air Conditioner,Heater,Adjustable Head Lights,Fog Lights Front,Anti Lock Braking System,Centeral Locking,Cd Player

In [19]:
# data column
new_car_feature['data'][0]

[{'heading': 'Comfort & Convenience',
  'subHeading': 'Comfort',
  'list': [{'value': 'Power Steering'},
   {'value': 'Power Windows Front'},
   {'value': 'Power Windows Rear'},
   {'value': 'Remote Trunk Opener'},
   {'value': 'Remote Fuel Lid Opener'},
   {'value': 'Low Fuel Warning Light'},
   {'value': 'Accessory Power Outlet'},
   {'value': 'Vanity Mirror'},
   {'value': 'Rear Seat Headrest'},
   {'value': 'Cup Holders Front'}]},
 {'heading': 'Interior',
  'subHeading': 'Interior',
  'list': [{'value': 'Air Conditioner'},
   {'value': 'Heater'},
   {'value': 'Digital Odometer'},
   {'value': 'Electronic Multi Tripmeter'},
   {'value': 'Fabric Upholstery'},
   {'value': 'Glove Compartment'},
   {'value': 'Digital Clock'}]},
 {'heading': 'Exterior',
  'subHeading': 'Exterior',
  'list': [{'value': 'Adjustable Head Lights'},
   {'value': 'Manually Adjustable Exterior Rear View Mirror'},
   {'value': 'Wheel Covers'},
   {'value': 'Power Antenna'},
   {'value': 'Chrome Grille'}]},
 {'heading': 'Safety',
  'subHeading': 'Safety',
  'list': [{'value': 'Centeral Locking'},
   {'value': 'Child Safety Locks'},
   {'value': 'Day Night Rear View Mirror'},
   {'value': 'Passenger Side Rear View Mirror'},
   {'value': 'Halogen Headlamps'},
   {'value': 'Rear Seat Belts'},
   {'value': 'Door Ajar Warning'},
   {'value': 'Side Impact Beams'},
   {'value': 'Front Impact Beams'},
   {'value': 'Adjustable Seats'},
   {'value': 'Centrally Mounted Fuel Tank'},
   {'value': 'Engine Immobilizer'},
   {'value': 'Anti Theft Device'}]}]

In [20]:
# normalize the `data` column
new_car_feature_data = pd.json_normalize(new_car_feature['data'])
new_car_feature_data.head()

,0,1,2,3,4
0,"{'heading': 'Comfort & Convenience', 'subHeadi...","{'heading': 'Interior', 'subHeading': 'Interio...","{'heading': 'Exterior', 'subHeading': 'Exterio...","{'heading': 'Safety', 'subHeading': 'Safety', ...",None
1,"{'heading': 'Comfort & Convenience', 'subHeadi...","{'heading': 'Interior', 'subHeading': 'Interio...","{'heading': 'Exterior', 'subHeading': 'Exterio...","{'heading': 'Safety', 'subHeading': 'Safety', ...","{'heading': 'Entertainment & Communication', '..."
2,"{'heading': 'Comfort & Convenience', 'subHeadi...","{'heading': 'Interior', 'subHeading': 'Interio...","{'heading': 'Exterior', 'subHeading': 'Exterio...","{'heading': 'Safety', 'subHeading': 'Safety', ...","{'heading': 'Entertainment & Communication', '..."
3,"{'heading': 'Comfort & Convenience', 'subHeadi...","{'heading': 'Interior', 'subHeading': 'Interio...","{'heading': 'Exterior', 'subHeading': 'Exterio...","{'heading': 'Safety', 'subHeading': 'Safety', ...","{'heading': 'Entertainment & Communication', '..."
4,"{'heading': 'Comfort & Convenience', 'subHeadi...","{'heading': 'Interior', 'subHeading': 'Interio...","{'heading': 'Exterior', 'subHeading': 'Exterio...","{'heading': 'Safety', 'subHeading': 'Safety', ...","{'heading': 'Entertainment & Communication', '..."

In [21]:
# heading : Comfort & Convenience
new_car_feature_data_0 =  pd.json_normalize(new_car_feature_data[0])
new_car_feature_data_0.head()

,heading,subHeading,list
0,Comfort & Convenience,Comfort,"[{'value': 'Power Steering'}, {'value': 'Power..."
1,Comfort & Convenience,Comfort,"[{'value': 'Power Steering'}, {'value': 'Power..."
2,Comfort & Convenience,Comfort,"[{'value': 'Power Steering'}, {'value': 'Power..."
3,Comfort & Convenience,Comfort,"[{'value': 'Power Steering'}, {'value': 'Power..."
4,Comfort & Convenience,Comfort,"[{'value': 'Power Steering'}, {'value': 'Power..."

In [22]:
new_car_feature_data_0 = new_car_feature_data_0['list'].apply(list_to_dict)
new_car_feature_data_0

0       {0: 'Power Steering', 1: 'Power Windows Front'...
1       {0: 'Power Steering', 1: 'Power Windows Front'...
2       {0: 'Power Steering', 1: 'Power Windows Front'...
3       {0: 'Power Steering', 1: 'Power Windows Front'...
4       {0: 'Power Steering', 1: 'Power Windows Front'...
                              ...
1476    {0: 'Power Steering', 1: 'Power Windows Front'...
1477    {0: 'Power Steering', 1: 'Power Windows Front'...
1478    {0: 'Power Steering', 1: 'Power Windows Front'...
1479    {0: 'Power Steering', 1: 'Power Windows Front'...
1480    {0: 'Power Steering', 1: 'Power Windows Front'...
Name: list, Length: 1481, dtype: object

In [23]:
new_car_feature_data_0 = pd.json_normalize(new_car_feature_data_0)
new_car_feature_data_0

,0,1,2,3,4,5,6,7,8,9,...,25,26,27,28,29,30,31,32,33,34
0,Power Steering,Power Windows Front,Power Windows Rear,Remote Trunk Opener,Remote Fuel Lid Opener,Low Fuel Warning Light,Accessory Power Outlet,Vanity Mirror,Rear Seat Headrest,Cup Holders Front,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Power Steering,Power Windows Front,Power Windows Rear,Remote Trunk Opener,Remote Fuel Lid Opener,Low Fuel Warning Light,Accessory Power Outlet,Trunk Light,Vanity Mirror,Rear Seat Headrest,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Power Steering,Power Windows Front,Power Windows Rear,Remote Trunk Opener,Remote Fuel Lid Opener,Low Fuel Warning Light,Accessory Power Outlet,Trunk Light,Vanity Mirror,Rear Seat Headrest,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Power Steering,Power Windows Front,Power Windows Rear,Remote Trunk Opener,Low Fuel Warning Light,Accessory Power Outlet,Trunk Light,Vanity Mirror,Rear Reading Lamp,Rear Seat Headrest,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Power Steering,Power Windows Front,Power Windows Rear,Air Quality Control,Remote Trunk Opener,Remote Fuel Lid Opener,Low Fuel Warning Light,Accessory Power Outlet,Trunk Light,Vanity Mirror,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1476,Power Steering,Power Windows Front,Power Windows Rear,Air Quality Control,Remote Trunk Opener,Remote Fuel Lid Opener,Low Fuel Warning Light,Accessory Power Outlet,Trunk Light,Vanity Mirror,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1477,Power Steering,Power Windows Front,Power Windows Rear,Remote Trunk Opener,Remote Fuel Lid Opener,Low Fuel Warning Light,Accessory Power Outlet,Trunk Light,Vanity Mirror,Rear Reading Lamp,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1478,Power Steering,Power Windows Front,Power Windows Rear,Remote Trunk Opener,Remote Fuel Lid Opener,Low Fuel Warning Light,Accessory Power Outlet,Vanity Mirror,Rear Seat Headrest,Cup Holders Front,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1479,Power Steering,Power Windows Front,Power Windows Rear,Air Quality Control,Remote Trunk Opener,Remote Fuel Lid Opener,Low Fuel Warning Light,Accessory Power Outlet,Vanity Mirror,Rear Seat Headrest,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1480,Power Steering,Power Windows Front,Power Windows Rear,Remote Trunk Opener,Low Fuel Warning Light,Accessory Power Outlet,Trunk Light,Vanity Mirror,Rear Seat Headrest,Cup Holders Front,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
# heading : Interior
new_car_feature_data_1=  pd.json_normalize(new_car_feature_data[1])
new_car_feature_data_1.head()

    heading subHeading                                               list
0  Interior   Interior  [{'value': 'Air Conditioner'}, {'value': 'Heat...
1  Interior   Interior  [{'value': 'Air Conditioner'}, {'value': 'Heat...
2  Interior   Interior  [{'value': 'Air Conditioner'}, {'value': 'Heat...
3  Interior   Interior  [{'value': 'Air Conditioner'}, {'value': 'Heat...
4  Interior   Interior  [{'value': 'Air Conditioner'}, {'value': 'Heat...

In [25]:
new_car_feature_data_1 = new_car_feature_data_1['list'].apply(list_to_dict)

In [26]:
new_car_feature_data_1 =  pd.json_normalize(new_car_feature_data_1)
new_car_feature_data_1.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,Air Conditioner,Heater,Digital Odometer,Electronic Multi Tripmeter,Fabric Upholstery,Glove Compartment,Digital Clock,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Air Conditioner,Heater,Adjustable Steering,Digital Odometer,Tachometer,Electronic Multi Tripmeter,Fabric Upholstery,Leather Steering Wheel,Glove Compartment,Digital Clock,Outside Temperature Display,Height Adjustable Driver Seat,NaN,NaN,NaN,NaN
2,Air Conditioner,Heater,Adjustable Steering,Digital Odometer,Tachometer,Electronic Multi Tripmeter,Fabric Upholstery,Glove Compartment,Digital Clock,Outside Temperature Display,Driving Experience Control Eco,Height Adjustable Driver Seat,NaN,NaN,NaN,NaN
3,Air Conditioner,Heater,Adjustable Steering,Digital Odometer,Tachometer,Electronic Multi Tripmeter,Fabric Upholstery,Glove Compartment,Digital Clock,Height Adjustable Driver Seat,NaN,NaN,NaN,NaN,NaN,NaN
4,Air Conditioner,Heater,Adjustable Steering,Digital Odometer,Tachometer,Electronic Multi Tripmeter,Fabric Upholstery,Glove Compartment,Digital Clock,Outside Temperature Display,Height Adjustable Driver Seat,NaN,NaN,NaN,NaN,NaN

In [27]:
# heading : Exterior
new_car_feature_data_2=  pd.json_normalize(new_car_feature_data[2])
new_car_feature_data_2.head()

    heading subHeading                                               list
0  Exterior   Exterior  [{'value': 'Adjustable Head Lights'}, {'value'...
1  Exterior   Exterior  [{'value': 'Adjustable Head Lights'}, {'value'...
2  Exterior   Exterior  [{'value': 'Adjustable Head Lights'}, {'value'...
3  Exterior   Exterior  [{'value': 'Adjustable Head Lights'}, {'value'...
4  Exterior   Exterior  [{'value': 'Adjustable Head Lights'}, {'value'...

In [28]:
new_car_feature_data_2 = new_car_feature_data_2['list'].apply(list_to_dict)

In [29]:
new_car_feature_data_2 = pd.json_normalize(new_car_feature_data_2)
new_car_feature_data_2.head()

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
0,Adjustable Head Lights,Manually Adjustable Exterior Rear View Mirror,Wheel Covers,Power Antenna,Chrome Grille,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Adjustable Head Lights,Fog Lights Front,Power Adjustable Exterior Rear View Mirror,Electric Folding Rear View Mirror,Rear Window Wiper,Rear Window Washer,Rear Window Defogger,Alloy Wheels,Integrated Antenna,Outside Rear View Mirror Turn Indicators,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Adjustable Head Lights,Fog Lights Front,Power Adjustable Exterior Rear View Mirror,Rear Window Wiper,Rear Window Washer,Rear Window Defogger,Wheel Covers,Power Antenna,Tinted Glass,Rear Spoiler,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Adjustable Head Lights,Fog Lights Front,Power Adjustable Exterior Rear View Mirror,Electric Folding Rear View Mirror,Rear Window Defogger,Alloy Wheels,Power Antenna,Outside Rear View Mirror Turn Indicators,Chrome Grille,Chrome Garnish,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Adjustable Head Lights,Fog Lights Front,Power Adjustable Exterior Rear View Mirror,Electric Folding Rear View Mirror,Rear Window Wiper,Rear Window Washer,Rear Window Defogger,Alloy Wheels,Power Antenna,Tinted Glass,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
# heading : Safety
new_car_feature_data_3=  pd.json_normalize(new_car_feature_data[3])
new_car_feature_data_3.head()

  heading subHeading                                               list
0  Safety     Safety  [{'value': 'Centeral Locking'}, {'value': 'Chi...
1  Safety     Safety  [{'value': 'Anti Lock Braking System'}, {'valu...
2  Safety     Safety  [{'value': 'Anti Lock Braking System'}, {'valu...
3  Safety     Safety  [{'value': 'Anti Lock Braking System'}, {'valu...
4  Safety     Safety  [{'value': 'Anti Lock Braking System'}, {'valu...

In [31]:
new_car_feature_data_3 = new_car_feature_data_3['list'].apply(list_to_dict)

In [32]:
new_car_feature_data_3 = pd.json_normalize(new_car_feature_data_3)
new_car_feature_data_3.head()

,0,1,2,3,4,5,6,7,8,9,...,35,36,37,38,39,40,41,42,43,44
0,Centeral Locking,Child Safety Locks,Day Night Rear View Mirror,Passenger Side Rear View Mirror,Halogen Headlamps,Rear Seat Belts,Door Ajar Warning,Side Impact Beams,Front Impact Beams,Adjustable Seats,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Anti Lock Braking System,Centeral Locking,Power Door Locks,Child Safety Locks,Driver Air Bag,Passenger Air Bag,Passenger Side Rear View Mirror,Halogen Headlamps,Rear Seat Belts,Seat Belt Warning,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Anti Lock Braking System,Centeral Locking,Power Door Locks,Child Safety Locks,Driver Air Bag,Passenger Air Bag,Passenger Side Rear View Mirror,Halogen Headlamps,Rear Seat Belts,Seat Belt Warning,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Anti Lock Braking System,Centeral Locking,Power Door Locks,Child Safety Locks,Day Night Rear View Mirror,Passenger Side Rear View Mirror,Halogen Headlamps,Rear Seat Belts,Seat Belt Warning,Door Ajar Warning,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Anti Lock Braking System,Centeral Locking,Power Door Locks,Child Safety Locks,Driver Air Bag,Passenger Air Bag,Passenger Side Rear View Mirror,Halogen Headlamps,Rear Seat Belts,Seat Belt Warning,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
# heading : Entertainment & Communication
new_car_feature_data_4=  pd.json_normalize(new_car_feature_data[4])
new_car_feature_data_4.head()

,heading,subHeading,list
0,NaN,NaN,NaN
1,Entertainment & Communication,Entertainment,"[{'value': 'Cd Player'}, {'value': 'Radio'}, {..."
2,Entertainment & Communication,Entertainment,"[{'value': 'Cd Player'}, {'value': 'Radio'}, {..."
3,Entertainment & Communication,Entertainment,"[{'value': 'Cd Player'}, {'value': 'Radio'}, {..."
4,Entertainment & Communication,Entertainment,"[{'value': 'Radio'}, {'value': 'Audio System R..."

In [34]:
new_car_feature_data_4 = new_car_feature_data_4['list'].apply(list_to_dict)

In [35]:
new_car_feature_data_4 = pd.json_normalize(new_car_feature_data_4)
new_car_feature_data_4

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Cd Player,Radio,Speakers Front,Speakers Rear,Integrated2Din Audio,Usb Auxiliary Input,Bluetooth,Touch Screen,Number Of Speaker,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Cd Player,Radio,Speakers Front,Speakers Rear,Integrated2Din Audio,Usb Auxiliary Input,Bluetooth,Number Of Speaker,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Cd Player,Radio,Speakers Front,Speakers Rear,Integrated2Din Audio,Usb Auxiliary Input,Bluetooth,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Radio,Audio System Remote Control,Speakers Front,Speakers Rear,Integrated2Din Audio,Usb Auxiliary Input,Bluetooth,Touch Screen,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1476,Cd Player,Dvd Player,Radio,Audio System Remote Control,Speakers Front,Speakers Rear,Integrated2Din Audio,Usb Auxiliary Input,Bluetooth,Touch Screen,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1477,Cd Player,Radio,Audio System Remote Control,Speakers Front,Speakers Rear,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1478,Radio,Speakers Front,Speakers Rear,Integrated2Din Audio,Usb Auxiliary Input,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1479,Cd Player,Radio,Speakers Front,Speakers Rear,Integrated2Din Audio,Usb Auxiliary Input,Bluetooth,Touch Screen,Number Of Speaker,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1480,Cd Player,Radio,Speakers Front,Speakers Rear,Integrated2Din Audio,Usb Auxiliary Input,Bluetooth,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## New Car Specs blr

In [36]:
new_car_specs = pd.json_normalize(bangolore_df['new_car_specs'])
new_car_specs.head()

,heading,top,data,commonIcon
0,Specifications,"[{'key': 'Mileage', 'value': '23.1 kmpl'}, {'k...","[{'heading': 'Engine and Transmission', 'subHe...",
1,Specifications,"[{'key': 'Mileage', 'value': '17 kmpl'}, {'key...","[{'heading': 'Engine and Transmission', 'subHe...",
2,Specifications,"[{'key': 'Mileage', 'value': '23.84 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe...",
3,Specifications,"[{'key': 'Mileage', 'value': '19.1 kmpl'}, {'k...","[{'heading': 'Engine and Transmission', 'subHe...",
4,Specifications,"[{'key': 'Mileage', 'value': '23.65 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe...",

In [37]:
new_car_specs.drop('commonIcon', axis=1, inplace=True)

In [38]:
# top column
new_car_specs_top = new_car_specs['top'].apply(list_to_dict)
new_car_specs_top = pd.json_normalize(new_car_specs_top)
new_car_specs_top

         Mileage   Engine  Max Power    Torque Seats Wheel Size
0      23.1 kmpl   998 CC   67.04bhp      90Nm     5        NaN
1        17 kmpl  1497 CC  121.31bhp     150Nm     5         16
2     23.84 kmpl  1199 CC      84bhp     114Nm     5         14
3      19.1 kmpl  1197 CC   81.86bhp  113.75Nm     5         14
4     23.65 kmpl  1248 CC    88.5bhp     200Nm     5         16
...          ...      ...        ...       ...   ...        ...
1476  12.55 kmpl  2982 CC   168.5bhp     343Nm     7         17
1477     15 kmpl  1586 CC     104.68       145     5         16
1478   19.4 kmpl  1198 CC    86.8bhp     109Nm     5        NaN
1479  22.54 kmpl  1396 CC   88.73bhp   219.7Nm     5         16
1480   18.9 kmpl  1197 CC      82bhp     114Nm     5         14

[1481 rows x 6 columns]

In [39]:
# data column
new_car_specs_data = pd.json_normalize(new_car_specs['data'])
new_car_specs_data

,0,1,2
0,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
1,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
2,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
3,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
4,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
...,...,...,...
1476,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
1477,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
1478,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
1479,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
1480,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."

In [40]:
# headding : Engine and Transmission
new_car_specs_data_1 = pd.json_normalize(new_car_specs_data[0])
new_car_specs_data_1

,heading,subHeading,list
0,Engine and Transmission,Engine,"[{'key': 'Color', 'value': 'White'}, {'key': '..."
1,Engine and Transmission,Engine,"[{'key': 'Color', 'value': 'White'}, {'key': '..."
2,Engine and Transmission,Engine,"[{'key': 'Color', 'value': 'Red'}, {'key': 'En..."
3,Engine and Transmission,Engine,"[{'key': 'Color', 'value': 'Others'}, {'key': ..."
4,Engine and Transmission,Engine,"[{'key': 'Color', 'value': 'Gray'}, {'key': 'E..."
...,...,...,...
1476,Engine and Transmission,Engine,"[{'key': 'Color', 'value': 'Blue'}, {'key': 'E..."
1477,Engine and Transmission,Engine,"[{'key': 'Color', 'value': 'Red'}, {'key': 'En..."
1478,Engine and Transmission,Engine,"[{'key': 'Color', 'value': 'White'}, {'key': '..."
1479,Engine and Transmission,Engine,"[{'key': 'Color', 'value': 'Red'}, {'key': 'En..."
1480,Engine and Transmission,Engine,"[{'key': 'Color', 'value': 'White'}, {'key': '..."

In [41]:
new_car_specs_data_1 = new_car_specs_data_1['list'].apply(list_to_dict)

In [42]:
new_car_specs_data_1 = pd.json_normalize(new_car_specs_data_1)
new_car_specs_data_1

,Color,Engine Type,Displacement,Max Power,Max Torque,No of Cylinder,Values per Cylinder,Value Configuration,Fuel Suppy System,BoreX Stroke,Compression Ratio,Turbo Charger,Super Charger,Seating Capacity,Steering Type,Tyre Type,Alloy Wheel Size,No Door Numbers
0,White,K10B Engine,998,67.04bhp@6000rpm,90Nm@3500rpm,3.0,4.0,DOHC,MPFi,73 X 82 mm,11.0:1,No,No,NaN,NaN,NaN,NaN,NaN
1,White,Ti-VCT Petrol Engine,1497,121.31bhp@6500rpm,150Nm@4500rpm,3.0,4.0,DOHC,Direct Injection,79 X 76.5 mm,11.0:1,No,No,NaN,NaN,NaN,NaN,NaN
2,Red,Revotron Engine,1199,84bhp@6000rpm,114Nm@3500rpm,3.0,4.0,DOHC,MPFi,77 X 85.8 mm,10.8:1,No,No,NaN,NaN,NaN,NaN,NaN
3,Others,Kappa VTVT Petrol Engine,1197,81.86bhp@6000rpm,113.75Nm@4000rpm,4.0,4.0,DOHC,Direct Injection,NaN,NaN,No,No,NaN,NaN,NaN,NaN,NaN
4,Gray,DDiS 200 Diesel Engine,1248,88.5bhp@4000rpm,200Nm@1750rpm,4.0,4.0,DOHC,NaN,69.6 x 82 mm,NaN,Yes,No,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1476,Blue,D-4D Diesel Engine,2982,168.5bhp@3600rpm,343Nm@1400-3400rpm,4.0,4.0,DOHC,CRDi,NaN,NaN,Yes,No,NaN,NaN,NaN,NaN,NaN
1477,Red,In-Line Engine,1586,"104.68@5,600 (PS@rpm)","145@4,100 (kgm@rpm)",4.0,4.0,DOHC,MPFI,78 x 83 mm,9:01,No,No,NaN,NaN,NaN,NaN,NaN
1478,White,i-VTEC Engine,1198,86.8bhp@6000rpm,109Nm@4500rpm,4.0,4.0,SOHC,PGM - Fi,NaN,NaN,No,No,NaN,NaN,NaN,NaN,NaN
1479,Red,U2 CRDI Diesel Engine,1396,88.73bhp@4000rpm,219.7Nm@1500-2750rpm,4.0,4.0,DOHC,CRDI,NaN,NaN,Yes,No,NaN,NaN,NaN,NaN,NaN
1480,White,Kappa VTVT Petrol Engine,1197,82bhp@6000rpm,114Nm@4000rpm,4.0,4.0,DOHC,MPFI,NaN,NaN,No,No,NaN,NaN,NaN,NaN,NaN

In [43]:
# headding : Dimensions & Capacity
new_car_specs_data_2 = pd.json_normalize(new_car_specs_data[1])
new_car_specs_data_2

,heading,subHeading,list
0,Dimensions & Capacity,Dimensions,"[{'key': 'Length', 'value': '3715mm'}, {'key':..."
1,Dimensions & Capacity,Dimensions,"[{'key': 'Length', 'value': '3998mm'}, {'key':..."
2,Dimensions & Capacity,Dimensions,"[{'key': 'Length', 'value': '3746mm'}, {'key':..."
3,Dimensions & Capacity,Dimensions,"[{'key': 'Length', 'value': '3995mm'}, {'key':..."
4,Dimensions & Capacity,Dimensions,"[{'key': 'Length', 'value': '4300mm'}, {'key':..."
...,...,...,...
1476,Dimensions & Capacity,Dimensions,"[{'key': 'Length', 'value': '4705mm'}, {'key':..."
1477,Dimensions & Capacity,Dimensions,"[{'key': 'Length', 'value': '4490mm'}, {'key':..."
1478,Dimensions & Capacity,Dimensions,"[{'key': 'Length', 'value': '3610mm'}, {'key':..."
1479,Dimensions & Capacity,Dimensions,"[{'key': 'Length', 'value': '3985mm'}, {'key':..."
1480,Dimensions & Capacity,Dimensions,"[{'key': 'Length', 'value': '3765mm'}, {'key':..."

In [44]:
new_car_specs_data_2['list'][0]

[{'key': 'Length', 'value': '3715mm'},
 {'key': 'Width', 'value': '1635mm'},
 {'key': 'Height', 'value': '1565mm'},
 {'key': 'Wheel Base', 'value': '2425mm'},
 {'key': 'Front Tread', 'value': '1420mm'},
 {'key': 'Rear Tread', 'value': '1410mm'},
 {'key': 'Kerb Weight', 'value': '835kg'},
 {'key': 'Gross Weight', 'value': '1250kg'}]

In [45]:
new_car_specs_data_2 = new_car_specs_data_2['list'].apply(list_to_dict)
new_car_specs_data_2 = pd.json_normalize(new_car_specs_data_2)
new_car_specs_data_2

,Length,Width,Height,Wheel Base,Front Tread,Rear Tread,Kerb Weight,Gross Weight,Ground Clearance Unladen,Seating Capacity,Steering Type,Tyre Type,Alloy Wheel Size,No Door Numbers
0,3715mm,1635mm,1565mm,2425mm,1420mm,1410mm,835kg,1250kg,NaN,NaN,NaN,NaN,NaN,NaN
1,3998mm,1765mm,1647mm,2519mm,NaN,NaN,1242Kg,1660Kg,NaN,NaN,NaN,NaN,NaN,NaN
2,3746mm,1647mm,1535mm,2400mm,1400mm,1420mm,1012kg,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3995mm,1660mm,1520mm,2425mm,1479mm,1493mm,1180,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4300mm,1785mm,1595mm,2600mm,NaN,NaN,1230Kg,1670kg,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1476,4705mm,1840mm,1850mm,2750mm,1540mm,1540mm,1970kg,2510kg,NaN,NaN,NaN,NaN,NaN,NaN
1477,4490mm,1735mm,1570mm,2500mm,1500mm,1495mm,1200kg,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1478,3610mm,1680mm,1500mm,2345mm,1480mm,1465mm,925kg,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1479,3985mm,1734mm,1505mm,2570mm,1505mm,1503mm,1515kg,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1480,3765mm,1660mm,1520mm,2425mm,1479mm,1493mm,935kg,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
# headding : Miscellaneous
new_car_specs_data_3 = pd.json_normalize(new_car_specs_data[2])
new_car_specs_data_3

,heading,subHeading,list
0,Miscellaneous,Miscellaneous,"[{'key': 'Gear Box', 'value': '5 Speed '}, {'k..."
1,Miscellaneous,Miscellaneous,"[{'key': 'Gear Box', 'value': '5 Speed'}, {'ke..."
2,Miscellaneous,Miscellaneous,"[{'key': 'Gear Box', 'value': '5 Speed'}, {'ke..."
3,Miscellaneous,Miscellaneous,"[{'key': 'Gear Box', 'value': '5 Speed '}, {'k..."
4,Miscellaneous,Miscellaneous,"[{'key': 'Gear Box', 'value': '5 Speed'}, {'ke..."
...,...,...,...
1476,Miscellaneous,Miscellaneous,"[{'key': 'Gear Box', 'value': '5 Speed'}, {'ke..."
1477,Miscellaneous,Miscellaneous,"[{'key': 'Gear Box', 'value': '5 Speed'}, {'ke..."
1478,Miscellaneous,Miscellaneous,"[{'key': 'Gear Box', 'value': '5 Speed'}, {'ke..."
1479,Miscellaneous,Miscellaneous,"[{'key': 'Gear Box', 'value': '6 Speed'}, {'ke..."
1480,Miscellaneous,Miscellaneous,"[{'key': 'Gear Box', 'value': '4 Speed'}, {'ke..."

In [47]:
new_car_specs_data_3 = new_car_specs_data_3['list'].apply(list_to_dict)

In [48]:
new_car_specs_data_3 = pd.json_normalize(new_car_specs_data_3)
new_car_specs_data_3

,Gear Box,Drive Type,Seating Capacity,Steering Type,Turning Radius,Front Brake Type,Rear Brake Type,Top Speed,Acceleration,Tyre Type,No Door Numbers,Cargo Volumn,Alloy Wheel Size
0,5 Speed,FWD,5,Power,4.7 metres,Ventilated Disc,Drum,150 Kmph,15.05 Seconds,"Tubeless, Radial",5,235-litres,NaN
1,5 Speed,FWD,5,Power,5.3 metres,Ventilated Disc,Drum,NaN,NaN,"Tubeless,Radial",4,352-litres,16
2,5 Speed,FWD,5,Power,4.9 meters,Disc,Drum,150 kmph,14.3 Seconds,Tubeless,5,242-litres,14
3,5 Speed,FWD,5,Power,4.7 metres,Disc,Drum,172km/hr,14.2 Seconds,"Tubeless,Radial",4,407-litres,14
4,5 Speed,FWD,5,Power,5.2 meters,Ventilated Disc,Solid Disc,190 Kmph,12 Seconds,"Tubeless,Radial",5,353-litres,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1476,5 Speed,4WD,7,Power,5.9 metres,Ventilated Disc,Drum,176 Kmph,9.6 Seconds,"Tubeless,Radial",5,296-litres,17
1477,5 Speed,NaN,5,Power,5.3 m,Ventilated Disc,Drum,177 kmph,12.1 seconds,"Tubeless, Radial",4,505 litres,16
1478,5 Speed,FWD,5,Power,4.5 metres,Disc,Drum,164 Kmph,14.5 Seconds,"Tubeless,Radial",5,175-litres,NaN
1479,6 Speed,FWD,5,Power,5.2 metres,Disc,Drum,180 Kmph,11.9 Seconds,Tubeless,5,295-litres,16
1480,4 Speed,FWD,5,Power,4.8 metres,Disc,Drum,165 Kmph,12.9 Seconds,Tubeless,5,256-liters,14

Concatenate the columns

In [49]:
df_bangalore  = pd.concat([new_car_details_blr,new_car_overview_blr,new_car_specs_top, new_car_specs_data_1,new_car_specs_data_2, new_car_specs_data_3], axis=1)

In [50]:
df_bangalore

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,...,Steering Type,Turning Radius,Front Brake Type,Rear Brake Type,Top Speed,Acceleration,Tyre Type,No Door Numbers,Cargo Volumn,Alloy Wheel Size
0,0,Petrol,Hatchback,"1,20,000",Manual,3,3rd Owner,Maruti,Maruti Celerio,2015,...,Power,4.7 metres,Ventilated Disc,Drum,150 Kmph,15.05 Seconds,"Tubeless, Radial",5,235-litres,NaN
1,0,Petrol,SUV,"32,706",Manual,2,2nd Owner,Ford,Ford Ecosport,2018,...,Power,5.3 metres,Ventilated Disc,Drum,NaN,NaN,"Tubeless,Radial",4,352-litres,16
2,0,Petrol,Hatchback,"11,949",Manual,1,1st Owner,Tata,Tata Tiago,2018,...,Power,4.9 meters,Disc,Drum,150 kmph,14.3 Seconds,Tubeless,5,242-litres,14
3,0,Petrol,Sedan,"17,794",Manual,1,1st Owner,Hyundai,Hyundai Xcent,2014,...,Power,4.7 metres,Disc,Drum,172km/hr,14.2 Seconds,"Tubeless,Radial",4,407-litres,14
4,0,Diesel,SUV,"60,000",Manual,1,1st Owner,Maruti,Maruti SX4 S Cross,2015,...,Power,5.2 meters,Ventilated Disc,Solid Disc,190 Kmph,12 Seconds,"Tubeless,Radial",5,353-litres,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1476,0,Diesel,SUV,"1,56,039",Manual,2,2nd Owner,Toyota,Toyota Fortuner,2012,...,Power,5.9 metres,Ventilated Disc,Drum,176 Kmph,9.6 Seconds,"Tubeless,Radial",5,296-litres,17
1477,0,Petrol,Sedan,"56,000",Manual,2,2nd Owner,Maruti,Maruti SX4,2008,...,Power,5.3 m,Ventilated Disc,Drum,177 kmph,12.1 seconds,"Tubeless, Radial",4,505 litres,16
1478,0,Petrol,Hatchback,"42,000",Manual,2,2nd Owner,Honda,Honda Brio,2014,...,Power,4.5 metres,Disc,Drum,164 Kmph,14.5 Seconds,"Tubeless,Radial",5,175-litres,NaN
1479,0,Diesel,Hatchback,"93,003",Manual,1,1st Owner,Hyundai,Hyundai i20,2018,...,Power,5.2 metres,Disc,Drum,180 Kmph,11.9 Seconds,Tubeless,5,295-litres,16
1480,0,Petrol,Hatchback,"36,000",Automatic,2,2nd Owner,Hyundai,Hyundai Grand i10,2017,...,Power,4.8 metres,Disc,Drum,165 Kmph,12.9 Seconds,Tubeless,5,256-liters,14

In [51]:
# add the city column 
df_bangalore['City'] = 'Bangalore'

In [52]:
df_bangalore.columns

Index(['it', 'ft', 'bt', 'km', 'transmission', 'ownerNo', 'owner', 'oem',
       'model', 'modelYear', 'centralVariantId', 'variantName', 'price',
       'priceActual', 'priceSaving', 'priceFixedText', 'trendingText.imgUrl',
       'trendingText.heading', 'trendingText.desc', 'Registration Year',
       'Insurance Validity', 'Fuel Type', 'Seats', 'Kms Driven', 'RTO',
       'Ownership', 'Engine Displacement', 'Transmission',
       'Year of Manufacture', 'Mileage', 'Engine', 'Max Power', 'Torque',
       'Seats', 'Wheel Size', 'Color', 'Engine Type', 'Displacement',
       'Max Power', 'Max Torque', 'No of Cylinder', 'Values per Cylinder',
       'Value Configuration', 'Fuel Suppy System', 'BoreX Stroke',
       'Compression Ratio', 'Turbo Charger', 'Super Charger',
       'Seating Capacity', 'Steering Type', 'Tyre Type', 'Alloy Wheel Size',
       'No Door Numbers', 'Length', 'Width', 'Height', 'Wheel Base',
       'Front Tread', 'Rear Tread', 'Kerb Weight', 'Gross Weight',
       'Ground Clearance Unladen', 'Seating Capacity', 'Steering Type',
       'Tyre Type', 'Alloy Wheel Size', 'No Door Numbers', 'Gear Box',
       'Drive Type', 'Seating Capacity', 'Steering Type', 'Turning Radius',
       'Front Brake Type', 'Rear Brake Type', 'Top Speed', 'Acceleration',
       'Tyre Type', 'No Door Numbers', 'Cargo Volumn', 'Alloy Wheel Size',
       'City'],
      dtype='object')

In [53]:
df_bangalore.to_csv('./Structured-Data/bangalore.csv', index=False)

# 2. Chennai Data Structuring

In [54]:
chennai_df = pd.read_excel('./Dataset/chennai_cars.xlsx')
chennai_df.head()

,new_car_detail,new_car_overview,new_car_feature,new_car_specs,car_links
0,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1,"{'it': 0, 'ft': 'Petrol', 'bt': 'Minivans', 'k...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Low...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...
2,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
3,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...
4,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...

In [55]:
# remove the car_links
chennai_df.drop(columns=['car_links'], axis=1, inplace=True)

In [56]:
chennai_df.head()

,new_car_detail,new_car_overview,new_car_feature,new_car_specs
0,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ..."
1,"{'it': 0, 'ft': 'Petrol', 'bt': 'Minivans', 'k...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Low...","{'heading': 'Specifications', 'top': [{'key': ..."
2,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ..."
3,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ..."
4,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ..."

In [57]:
# convert all the JSON-like string columns  into dict safely
chennai_df = parse_json_column(chennai_df, chennai_df.columns)

## New Car Details

In [58]:
new_car_details_ch = pd.json_normalize(chennai_df['new_car_detail'])
new_car_details_ch.head()

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,centralVariantId,variantName,price,priceActual,priceSaving,priceFixedText,trendingText.imgUrl,trendingText.heading,trendingText.desc
0,0,Petrol,SUV,"20,000",Automatic,1,1st Owner,Kia,Kia Sonet,2022,8654,Turbo DCT Anniversary Edition,₹ 11.50 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1,0,Petrol,Minivans,"20,687",Manual,1,1st Owner,Maruti,Maruti Eeco,2015,4025,7 Seater Standard BSIV,₹ 4.15 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
2,0,Petrol,SUV,"30,000",Manual,1,1st Owner,Nissan,Nissan Magnite,2021,8135,Turbo XV Premium BSVI,₹ 7.50 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
3,0,Petrol,Hatchback,"59,247",Manual,1,1st Owner,Hyundai,Hyundai i10,2015,1579,Sportz 1.1L,₹ 3.98 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
4,0,Petrol,Hatchback,"50,000",Manual,1,1st Owner,Honda,Honda Jazz,2015,1341,1.2 VX i VTEC,₹ 5.50 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days

New Car Overview

In [59]:
new_car_overview_ch = pd.json_normalize(chennai_df['new_car_overview'])
new_car_overview_ch.head()

        heading                                                top bottomData
0  Car overview  [{'key': 'Registration Year', 'value': '2022',...       None
1  Car overview  [{'key': 'Registration Year', 'value': 'Feb 20...       None
2  Car overview  [{'key': 'Registration Year', 'value': '2021',...       None
3  Car overview  [{'key': 'Registration Year', 'value': 'May 20...       None
4  Car overview  [{'key': 'Registration Year', 'value': '2015',...       None

In [60]:
# remove the bottomData
new_car_overview_ch.drop(columns='bottomData', axis=1, inplace=True)

In [61]:
# flatten the top column
new_car_overview_ch_top = new_car_overview_ch['top'].apply(list_to_dict)
new_car_overview_ch_top = pd.json_normalize(new_car_overview_ch_top)
new_car_overview_ch_top.head()

,Registration Year,Insurance Validity,Fuel Type,Seats,Kms Driven,RTO,Ownership,Engine Displacement,Transmission,Year of Manufacture
0,2022,Third Party insurance,Petrol,5 Seats,"20,000 Kms",TN02,First Owner,998 cc,Automatic,2022
1,Feb 2015,Comprehensive,Petrol,7 Seats,"20,687 Kms",TN04,First Owner,1196 cc,Manual,2015
2,2021,Third Party insurance,Petrol,5 Seats,"30,000 Kms",TN22,First Owner,999 cc,Manual,2021
3,May 2015,Comprehensive,Petrol,5 Seats,"59,247 Kms",TN11,First Owner,1086 cc,Manual,2015
4,2015,Third Party insurance,Petrol,5 Seats,"50,000 Kms",KA03,First Owner,1199 cc,Manual,2015

## New Car Feature

In [62]:
new_car_feature_ch = pd.json_normalize(chennai_df['new_car_feature'])
new_car_feature_ch.head()

,heading,top,data,commonIcon
0,Features,"[{'value': 'Power Steering'}, {'value': 'Power...","[{'heading': 'Comfort & Convenience', 'subHead...",https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg
1,Features,"[{'value': 'Low Fuel Warning Light'}, {'value'...","[{'heading': 'Comfort & Convenience', 'subHead...",https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg
2,Features,"[{'value': 'Power Steering'}, {'value': 'Power...","[{'heading': 'Comfort & Convenience', 'subHead...",https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg
3,Features,"[{'value': 'Power Steering'}, {'value': 'Power...","[{'heading': 'Comfort & Convenience', 'subHead...",https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg
4,Features,"[{'value': 'Power Steering'}, {'value': 'Power...","[{'heading': 'Comfort & Convenience', 'subHead...",https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg

In [63]:
# drop the commonIcon
new_car_feature_ch.drop("commonIcon", axis=1, inplace=True)

In [64]:
# flatten the top column
new_car_feature_ch_top = new_car_feature_ch['top'].apply(list_to_dict)
new_car_feature_ch_top = pd.json_normalize(new_car_feature_ch_top)
new_car_feature_ch_top.head()

,0,1,2,3,4,5,6,7,8
0,Power Steering,Power Windows Front,Air Conditioner,Heater,Adjustable Head Lights,Fog Lights Front,Anti Lock Braking System,Brake Assist,Radio
1,Low Fuel Warning Light,Accessory Power Outlet,Heater,Digital Odometer,Adjustable Head Lights,Manually Adjustable Exterior Rear View Mirror,Anti Lock Braking System,Child Safety Locks,NaN
2,Power Steering,Power Windows Front,Air Conditioner,Heater,Adjustable Head Lights,Fog Lights Front,Anti Lock Braking System,Brake Assist,Radio
3,Power Steering,Power Windows Front,Air Conditioner,Heater,Adjustable Head Lights,Fog Lights Front,Centeral Locking,Power Door Locks,Cd Player
4,Power Steering,Power Windows Front,Air Conditioner,Heater,Adjustable Head Lights,Fog Lights Front,Anti Lock Braking System,Centeral Locking,Cd Player

In [65]:
# flatten the data column
new_car_feature_ch_data = pd.json_normalize(new_car_feature_ch['data'])
new_car_feature_ch_data.head()

,0,1,2,3,4
0,"{'heading': 'Comfort & Convenience', 'subHeadi...","{'heading': 'Interior', 'subHeading': 'Interio...","{'heading': 'Exterior', 'subHeading': 'Exterio...","{'heading': 'Safety', 'subHeading': 'Safety', ...","{'heading': 'Entertainment & Communication', '..."
1,"{'heading': 'Comfort & Convenience', 'subHeadi...","{'heading': 'Interior', 'subHeading': 'Interio...","{'heading': 'Exterior', 'subHeading': 'Exterio...","{'heading': 'Safety', 'subHeading': 'Safety', ...",None
2,"{'heading': 'Comfort & Convenience', 'subHeadi...","{'heading': 'Interior', 'subHeading': 'Interio...","{'heading': 'Exterior', 'subHeading': 'Exterio...","{'heading': 'Safety', 'subHeading': 'Safety', ...","{'heading': 'Entertainment & Communication', '..."
3,"{'heading': 'Comfort & Convenience', 'subHeadi...","{'heading': 'Interior', 'subHeading': 'Interio...","{'heading': 'Exterior', 'subHeading': 'Exterio...","{'heading': 'Safety', 'subHeading': 'Safety', ...","{'heading': 'Entertainment & Communication', '..."
4,"{'heading': 'Comfort & Convenience', 'subHeadi...","{'heading': 'Interior', 'subHeading': 'Interio...","{'heading': 'Exterior', 'subHeading': 'Exterio...","{'heading': 'Safety', 'subHeading': 'Safety', ...","{'heading': 'Entertainment & Communication', '..."

In [66]:
# heading: Comfort & Convenience
new_car_feature_ch_data_0 = pd.json_normalize(new_car_feature_ch_data[0])
new_car_feature_ch_data_0.head()

,heading,subHeading,list
0,Comfort & Convenience,Comfort,"[{'value': 'Power Steering'}, {'value': 'Power..."
1,Comfort & Convenience,Comfort,"[{'value': 'Low Fuel Warning Light'}, {'value'..."
2,Comfort & Convenience,Comfort,"[{'value': 'Power Steering'}, {'value': 'Power..."
3,Comfort & Convenience,Comfort,"[{'value': 'Power Steering'}, {'value': 'Power..."
4,Comfort & Convenience,Comfort,"[{'value': 'Power Steering'}, {'value': 'Power..."

In [67]:
# # top unique feature list
# unique_top_feature = set()
# for i in new_car_feature_ch_top.columns:
#         for j in new_car_feature_ch_top[i].unique().tolist():
#             if pd.notna(j) and pd.notnull(j):
#                 unique_top_feature.add(j)

In [68]:
new_car_feature_ch_data_0 = new_car_feature_ch_data_0['list'].apply(list_to_dict)
new_car_feature_ch_data_0 = pd.json_normalize(new_car_feature_ch_data_0)
new_car_feature_ch_data_0.head()

,0,1,2,3,4,5,6,7,8,9,...,27,28,29,30,31,32,33,34,35,36
0,Power Steering,Power Windows Front,Power Windows Rear,Low Fuel Warning Light,Accessory Power Outlet,Trunk Light,Rear Reading Lamp,Rear Seat Headrest,Rear Seat Centre Arm Rest,Cup Holders Rear,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Low Fuel Warning Light,Accessory Power Outlet,Rear Seat Headrest,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Power Steering,Power Windows Front,Power Windows Rear,Low Fuel Warning Light,Accessory Power Outlet,Trunk Light,Rear Reading Lamp,Rear Seat Headrest,Rear Seat Centre Arm Rest,Height Adjustable Front Seat Belts,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Power Steering,Power Windows Front,Power Windows Rear,Remote Fuel Lid Opener,Low Fuel Warning Light,Vanity Mirror,Rear Seat Headrest,Cup Holders Front,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Power Steering,Power Windows Front,Power Windows Rear,Air Quality Control,Low Fuel Warning Light,Accessory Power Outlet,Trunk Light,Vanity Mirror,Rear Seat Headrest,Cup Holders Front,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [69]:
# heading: Interior
new_car_feature_ch_data_1 = pd.json_normalize(new_car_feature_ch_data[1])
# new_car_feature_ch_data_0.head()

new_car_feature_ch_data_1 = new_car_feature_ch_data_1['list'].apply(list_to_dict)
new_car_feature_ch_data_1 = pd.json_normalize(new_car_feature_ch_data_1)
new_car_feature_ch_data_1.head()

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,Air Conditioner,Heater,Adjustable Steering,Digital Odometer,Electronic Multi Tripmeter,Leather Seats,Fabric Upholstery,Leather Steering Wheel,Glove Compartment,Digital Clock,...,Leather Wrap Gear Shift Selector,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Heater,Digital Odometer,Electronic Multi Tripmeter,Fabric Upholstery,Glove Compartment,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Air Conditioner,Heater,Adjustable Steering,Digital Odometer,Tachometer,Fabric Upholstery,Leather Steering Wheel,Glove Compartment,Digital Clock,Outside Temperature Display,...,Dual Tone Dashboard,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Air Conditioner,Heater,Adjustable Steering,Digital Odometer,Tachometer,Electronic Multi Tripmeter,Fabric Upholstery,Glove Compartment,Digital Clock,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Air Conditioner,Heater,Adjustable Steering,Digital Odometer,Tachometer,Electronic Multi Tripmeter,Fabric Upholstery,Leather Steering Wheel,Glove Compartment,Digital Clock,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [70]:
# heading: Exterior
new_car_feature_ch_data_2 = pd.json_normalize(new_car_feature_ch_data[2])
# new_car_feature_ch_data_0.head()

new_car_feature_ch_data_2 = new_car_feature_ch_data_2['list'].apply(list_to_dict)
new_car_feature_ch_data_2 = pd.json_normalize(new_car_feature_ch_data_2)
new_car_feature_ch_data_2.head()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,Adjustable Head Lights,Fog Lights Front,Power Adjustable Exterior Rear View Mirror,Electric Folding Rear View Mirror,Rear Window Defogger,Alloy Wheels,Integrated Antenna,Tinted Glass,Rear Spoiler,Sun Roof,...,LEDTaillights,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Adjustable Head Lights,Manually Adjustable Exterior Rear View Mirror,Wheel Covers,Halogen Headlamps,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Adjustable Head Lights,Fog Lights Front,Power Adjustable Exterior Rear View Mirror,Electric Folding Rear View Mirror,Rear Window Wiper,Rear Window Defogger,Alloy Wheels,Integrated Antenna,Tinted Glass,Rear Spoiler,...,LEDTaillights,LEDFog Lamps,Projector Headlamps,Halogen Headlamps,NaN,NaN,NaN,NaN,NaN,NaN
3,Adjustable Head Lights,Fog Lights Front,Manually Adjustable Exterior Rear View Mirror,Wheel Covers,Power Antenna,Chrome Grille,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Adjustable Head Lights,Fog Lights Front,Power Adjustable Exterior Rear View Mirror,Electric Folding Rear View Mirror,Rear Window Wiper,Rear Window Washer,Rear Window Defogger,Alloy Wheels,Integrated Antenna,Rear Spoiler,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [71]:
# heading: Safety
new_car_feature_ch_data_3 = pd.json_normalize(new_car_feature_ch_data[3])
# new_car_feature_ch_data_0.head()

new_car_feature_ch_data_3 = new_car_feature_ch_data_3['list'].apply(list_to_dict)
new_car_feature_ch_data_3 = pd.json_normalize(new_car_feature_ch_data_3)
new_car_feature_ch_data_3.head()

,0,1,2,3,4,5,6,7,8,9,...,35,36,37,38,39,40,41,42,43,44
0,Anti Lock Braking System,Brake Assist,Centeral Locking,Power Door Locks,Child Safety Locks,Driver Air Bag,Passenger Air Bag,Side Air Bag Front,Day Night Rear View Mirror,Passenger Side Rear View Mirror,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Anti Lock Braking System,Child Safety Locks,Driver Air Bag,Passenger Side Rear View Mirror,Halogen Headlamps,Rear Seat Belts,Side Impact Beams,Front Impact Beams,Adjustable Seats,Centrally Mounted Fuel Tank,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Anti Lock Braking System,Brake Assist,Centeral Locking,Power Door Locks,Child Safety Locks,Anti Theft Alarm,Driver Air Bag,Passenger Air Bag,Day Night Rear View Mirror,Passenger Side Rear View Mirror,...,No Of Airbags,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Centeral Locking,Power Door Locks,Child Safety Locks,Anti Theft Alarm,Day Night Rear View Mirror,Passenger Side Rear View Mirror,Halogen Headlamps,Rear Seat Belts,Seat Belt Warning,Door Ajar Warning,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Anti Lock Braking System,Centeral Locking,Power Door Locks,Child Safety Locks,Driver Air Bag,Passenger Air Bag,Day Night Rear View Mirror,Passenger Side Rear View Mirror,Halogen Headlamps,Rear Seat Belts,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [72]:
# heading: Entertainment 
new_car_feature_ch_data_4 = pd.json_normalize(new_car_feature_ch_data[4])
# new_car_feature_ch_data_0.head()

new_car_feature_ch_data_4 = new_car_feature_ch_data_4['list'].apply(list_to_dict)
new_car_feature_ch_data_4 = pd.json_normalize(new_car_feature_ch_data_4)
new_car_feature_ch_data_4.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,Radio,Speakers Front,Speakers Rear,Integrated2Din Audio,Bluetooth,Touch Screen,Number Of Speaker,Apple Car Play,Android Auto,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Radio,Speakers Front,Speakers Rear,Integrated2Din Audio,Bluetooth,Touch Screen,Number Of Speaker,Touch Screen Size,Apple Car Play,Android Auto,Wifi Connectivity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Cd Player,Radio,Speakers Front,Speakers Rear,Integrated2Din Audio,Usb Auxiliary Input,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Cd Player,Dvd Player,Radio,Speakers Front,Speakers Rear,Integrated2Din Audio,Usb Auxiliary Input,Bluetooth,Touch Screen,Number Of Speaker,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## New Car Specs

In [73]:
new_car_specs_ch = pd.json_normalize(chennai_df['new_car_specs'])
new_car_specs_ch.head()

,heading,top,data,commonIcon
0,Specifications,"[{'key': 'Engine', 'value': '998 CC'}, {'key':...","[{'heading': 'Engine and Transmission', 'subHe...",
1,Specifications,"[{'key': 'Mileage', 'value': '15.37 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe...",
2,Specifications,"[{'key': 'Mileage', 'value': '20 kmpl'}, {'key...","[{'heading': 'Engine and Transmission', 'subHe...",
3,Specifications,"[{'key': 'Mileage', 'value': '19.81 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe...",
4,Specifications,"[{'key': 'Mileage', 'value': '18.7 kmpl'}, {'k...","[{'heading': 'Engine and Transmission', 'subHe...",

In [74]:
# drop the commonIcon
new_car_specs_ch.drop(columns=['commonIcon'], axis=1, inplace=True)

In [75]:
# flatten the top column
new_car_specs_ch_top = new_car_specs_ch['top'].apply(list_to_dict)
new_car_specs_ch_top = pd.json_normalize(new_car_specs_ch_top)
new_car_specs_ch_top.head()

    Engine  Max Power   Torque Wheel Size Seats     Mileage
0   998 CC  118.36bhp    172nm         16     5         NaN
1  1196 CC      73bhp    101Nm        NaN     7  15.37 kmpl
2   999 CC   98.63bhp    160Nm         16     5     20 kmpl
3  1086 CC   68.05bhp  99.04Nm        NaN     5  19.81 kmpl
4  1199 CC    88.7bhp    110Nm         15     5   18.7 kmpl

In [76]:
# flatten the data column
new_car_specs_ch_data = pd.json_normalize(new_car_specs_ch['data'])
new_car_specs_ch_data.head()

,0,1,2
0,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
1,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
2,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
3,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
4,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."

In [77]:
# heading : Engine and Transmission
new_car_specs_ch_data_0 = pd.json_normalize(new_car_specs_ch_data[0])
new_car_specs_ch_data_0.head()

,heading,subHeading,list
0,Engine and Transmission,Engine,"[{'key': 'Color', 'value': 'Black'}, {'key': '..."
1,Engine and Transmission,Engine,"[{'key': 'Color', 'value': 'Grey'}, {'key': 'E..."
2,Engine and Transmission,Engine,"[{'key': 'Color', 'value': 'Others'}, {'key': ..."
3,Engine and Transmission,Engine,"[{'key': 'Color', 'value': 'Silver'}, {'key': ..."
4,Engine and Transmission,Engine,"[{'key': 'Color', 'value': 'Others'}, {'key': ..."

In [78]:
new_car_specs_ch_data_0 = new_car_specs_ch_data_0['list'].apply(list_to_dict)

In [79]:
new_car_specs_ch_data_0 = pd.json_normalize(new_car_specs_ch_data_0)
new_car_specs_ch_data_0.head()

,Color,Engine Type,Displacement,Max Power,Max Torque,No of Cylinder,Values per Cylinder,Fuel Suppy System,Turbo Charger,Value Configuration,Compression Ratio,Super Charger,BoreX Stroke
0,Black,Smartstream G1.0 T - GDi,998,118.36bhp@6000rpm,172nm@1500-4000rpm,3.0,4.0,GDi,Yes,NaN,NaN,NaN,NaN
1,Grey,In-Line Engine,1196,73bhp@6000rpm,101Nm@3000rpm,4.0,4.0,MPFi,No,DOHC,9.9:1,No,NaN
2,Others,HRA0 1.0 TURBO PETROL,999,98.63bhp@5000rpm,160Nm@2800-3600rpm,3.0,4.0,MPFi,Yes,SOHC,NaN,No,72.2 x 81.3
3,Silver,IRDE2 Engine,1086,68.05bhp@5500rpm,99.04Nm@4500rpm,4.0,3.0,MPFI,No,SOHC,NaN,No,NaN
4,Others,i-VTEC Petrol Engine,1199,88.7bhp@6000rpm,110Nm@4800rpm,4.0,4.0,PGM - Fi,No,SOHC,NaN,No,NaN

In [80]:
# heading : Dimensions & Capacity
new_car_specs_ch_data_1 = pd.json_normalize(new_car_specs_ch_data[1])
new_car_specs_ch_data_1 = new_car_specs_ch_data_1['list'].apply(list_to_dict)

In [81]:
new_car_specs_ch_data_1 = pd.json_normalize(new_car_specs_ch_data_1)
new_car_specs_ch_data_1.head()

,Length,Width,Height,Wheel Base,Kerb Weight,Front Tread,Rear Tread,Gross Weight,Ground Clearance Unladen,Seating Capacity,Steering Type,Tyre Type,Alloy Wheel Size,No Door Numbers
0,3995mm,1790,1642,2500,1465,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3675mm,1475mm,1800mm,2350mm,943kg,1280mm,1290mm,1540kg,NaN,NaN,NaN,NaN,NaN,NaN
2,3994mm,1758,1572,2500,1014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3585mm,1595mm,1550mm,2380mm,860kg,1400mm,1385mm,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3955mm,1694mm,1544mm,2530mm,1042kg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [82]:
# heading : Miscellaneous
new_car_specs_ch_data_2 = pd.json_normalize(new_car_specs_ch_data[2])
new_car_specs_ch_data_2 = new_car_specs_ch_data_2['list'].apply(list_to_dict)

In [83]:
new_car_specs_ch_data_2 = pd.json_normalize(new_car_specs_ch_data_2)
new_car_specs_ch_data_2.head()

,Gear Box,Drive Type,Seating Capacity,Steering Type,Front Brake Type,Rear Brake Type,Tyre Type,Alloy Wheel Size,No Door Numbers,Cargo Volumn,Turning Radius,Top Speed,Acceleration
0,7-Speed DCT,FWD,5,Electric,Disc,Drum,"Tubeless, Radial",16,5,392,NaN,NaN,NaN
1,5 Speed,RWD,7,Manual,Ventilated Disc,Drum,Tubeless Tyres,NaN,5,540-liters,4.5 metres,145 Kmph,15.7 Seconds
2,5 Speed,NaN,5,Electronic,Disc,Drum,"Tubeless,Radial",16,5,336,5.0,NaN,11.7
3,5 Speed,FWD,5,Power,Ventilated Disc,Drum,Tubeless,NaN,5,225-litres,4.7 metres,165 Kmph,14.3 Seconds
4,5 Speed,FWD,5,Power,Disc,Drum,"Tubeless,Radial",15,5,354-litres,5.1 meters,172 Kmph,13.7 Seconds

In [84]:
# concatenate the columns
df_chennai = pd.concat([new_car_details_ch, new_car_overview_ch, new_car_specs_ch_top, new_car_specs_ch_data_0,new_car_specs_ch_data_1,new_car_specs_ch_data_2 ], axis=1)

In [85]:
df_chennai['City'] = 'Chennai'

In [86]:
df_chennai.to_csv('./Structured-Data/chennai.csv', index=False)

# 3. Delhi Data Structuring

In [87]:
delhi_df = pd.read_excel('./Dataset/delhi_cars.xlsx')
delhi_df.head(2)

,new_car_detail,new_car_overview,new_car_feature,new_car_specs,car_links
0,"{'it': 0, 'ft': 'Diesel', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...

In [88]:
delhi_df.drop(columns='car_links', inplace=True, axis=1)

In [89]:
# parse all the columns
delhi_df = parse_json_column(delhi_df, delhi_df.columns)

## New car Details

In [90]:
new_car_details_dh = pd.json_normalize(delhi_df['new_car_detail'])
new_car_details_dh.head()

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,centralVariantId,variantName,price,priceActual,priceSaving,priceFixedText,trendingText.imgUrl,trendingText.heading,trendingText.desc
0,0,Diesel,SUV,"10,000",Automatic,1,1st Owner,Kia,Kia Seltos,2022,7121,GTX Plus Diesel AT,₹ 19 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1,0,Petrol,SUV,"57,437",Manual,2,2nd Owner,Hyundai,Hyundai Creta,2016,1449,1.6 VTVT S,₹ 7.62 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
2,0,Petrol,SUV,"8,000",Automatic,1,1st Owner,Mercedes-Benz,Mercedes-Benz GLC,2020,6837,200,₹ 56 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
3,0,Petrol,Hatchback,"28,151",Manual,2,2nd Owner,Maruti,Maruti Swift,2018,10403,VXI,₹ 5.23 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
4,0,Petrol,SUV,"60,000",Manual,1,1st Owner,Hyundai,Hyundai Creta,2017,5362,1.6 VTVT E Plus,₹ 7.65 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days

## New Car Overview

In [91]:
new_car_overview_dh = pd.json_normalize(delhi_df['new_car_overview'])
new_car_overview_dh.head()

        heading                                                top bottomData
0  Car overview  [{'key': 'Registration Year', 'value': '2022',...       None
1  Car overview  [{'key': 'Registration Year', 'value': 'May 20...       None
2  Car overview  [{'key': 'Registration Year', 'value': 'Dec 20...       None
3  Car overview  [{'key': 'Registration Year', 'value': 'Jan 20...       None
4  Car overview  [{'key': 'Registration Year', 'value': '2017',...       None

In [92]:
# flattern top column
new_car_overview_dh_top = new_car_overview_dh['top'].apply(list_to_dict)
new_car_overview_dh_top = pd.json_normalize(new_car_overview_dh_top)
new_car_overview_dh_top.head()

,Registration Year,Insurance Validity,Fuel Type,Seats,Kms Driven,Ownership,Engine Displacement,Transmission,Year of Manufacture,RTO
0,2022,Third Party insurance,Diesel,5 Seats,"10,000 Kms",First Owner,1493 cc,Automatic,2022,NaN
1,May 2016,Zero Dep,Petrol,5 Seats,"57,437 Kms",Second Owner,1591 cc,Manual,2016,HR51
2,Dec 2020,Comprehensive,Petrol,5 Seats,"8,000 Kms",First Owner,1991 cc,Automatic,2020,DL01
3,Jan 2019,Comprehensive,Petrol,5 Seats,"28,151 Kms",Second Owner,1197 cc,Manual,2018,DL4C
4,2017,Third Party insurance,Petrol,5 Seats,"60,000 Kms",First Owner,1591 cc,Manual,2017,DL8C

## New car specs

In [93]:
new_car_specs_dh = pd.json_normalize(delhi_df['new_car_specs'])
new_car_specs_dh.head()

,heading,top,data,commonIcon
0,Specifications,"[{'key': 'Mileage', 'value': '18 kmpl'}, {'key...","[{'heading': 'Engine and Transmission', 'subHe...",
1,Specifications,"[{'key': 'Mileage', 'value': '15.29 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe...",
2,Specifications,"[{'key': 'Mileage', 'value': '12.74 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe...",
3,Specifications,"[{'key': 'Mileage', 'value': '22.38 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe...",
4,Specifications,"[{'key': 'Mileage', 'value': '15.29 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe...",

In [94]:
new_car_specs_dh.drop(columns='commonIcon', inplace=True, axis=1)

In [95]:
# flatten  top column
new_car_specs_dh_top = new_car_specs_dh['top'].apply(list_to_dict)
new_car_specs_dh_top = pd.json_normalize(new_car_specs_dh_top)
new_car_specs_dh_top.head()

      Mileage   Engine  Max Power Torque Wheel Size Seats
0     18 kmpl  1493 CC  113.43bhp  250Nm         17     5
1  15.29 kmpl  1591 CC   121.3bhp  151Nm        NaN     5
2  12.74 kmpl  1991 CC     197bhp  320nm         19     5
3  22.38 kmpl  1197 CC   88.50bhp  113Nm        NaN     5
4  15.29 kmpl  1591 CC   121.3bhp  151Nm        NaN     5

In [96]:
# flatten data column
new_car_specs_dh_data = pd.json_normalize(new_car_specs_dh['data'])
new_car_specs_dh_data.head()

,0,1,2
0,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
1,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
2,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
3,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
4,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."

In [97]:
# heading : Engine and Transmission
new_car_specs_dh_data_0 = pd.json_normalize(new_car_specs_dh_data[0])

In [98]:
new_car_specs_dh_data_0 = new_car_specs_dh_data_0['list'].apply(list_to_dict)
new_car_specs_dh_data_0 = pd.json_normalize(new_car_specs_dh_data_0)
new_car_specs_dh_data_0.head()

,Color,Engine Type,Displacement,Max Power,Max Torque,No of Cylinder,Values per Cylinder,Fuel Suppy System,Turbo Charger,Value Configuration,Super Charger,BoreX Stroke,Compression Ratio
0,Gray,1.5 L CRDi VGT,1493,113.43bhp@4000rpm,250Nm@1500-2750rpm,4.0,4.0,CRDi,Yes,NaN,NaN,NaN,NaN
1,White,VTVT Petrol Engine,1591,121.3bhp@6400rpm,151Nm@4850rpm,4.0,4.0,MPFI,No,DOHC,No,NaN,NaN
2,Grey,M 264 petrol engine,1991,197bhp@5500-6100rpm,320nm@1650-4000rpm,4.0,4.0,EFI,No,NaN,NaN,NaN,NaN
3,Silver,K Series Dual jet,1197,88.50bhp@6000rpm,113Nm@4400rpm,4.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN
4,White,VTVT Petrol Engine,1591,121.3bhp@6400rpm,151Nm@4850rpm,4.0,4.0,MPFI,No,DOHC,No,NaN,NaN

In [99]:
# heading : Dimensions & Capacity
new_car_specs_dh_data_1 = pd.json_normalize(new_car_specs_dh_data[1])

In [100]:
new_car_specs_dh_data_1 = new_car_specs_dh_data_1['list'].apply(list_to_dict)
new_car_specs_dh_data_1 = pd.json_normalize(new_car_specs_dh_data_1)
new_car_specs_dh_data_1.head()

,Length,Width,Height,Wheel Base,Kerb Weight,Gross Weight,Front Tread,Rear Tread,Ground Clearance Unladen,Gear Box,...,Seating Capacity,Steering Type,Turning Radius,Front Brake Type,Rear Brake Type,Top Speed,Acceleration,Tyre Type,Alloy Wheel Size,No Door Numbers
0,4315mm,1800mm,1645mm,2610mm,1540,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4270mm,1780mm,1630mm,2590mm,"1,310",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4658mm,1890mm,1644mm,2873mm,1585,2360kg,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3845mm,1735,1530,2450,875-905,1335,1530,1530,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4270mm,1780mm,1630mm,2590mm,"1,300",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [101]:
# heading : Miscellaneous
new_car_specs_dh_data_2 = pd.json_normalize(new_car_specs_dh_data[2])

In [102]:
new_car_specs_dh_data_2 = new_car_specs_dh_data_2['list'].apply(list_to_dict)
new_car_specs_dh_data_2 = pd.json_normalize(new_car_specs_dh_data_2)
new_car_specs_dh_data_2.head()

,Gear Box,Drive Type,Seating Capacity,Steering Type,Front Brake Type,Rear Brake Type,Tyre Type,Alloy Wheel Size,No Door Numbers,Cargo Volumn,Turning Radius,Top Speed,Acceleration
0,6-Speed,FWD,5,Electric,Disc,Disc,"Tubeless, Radial",17,5,433,NaN,NaN,NaN
1,6 Speed,FWD,5,Power,Disc,Drum,Tubeless,NaN,5,400-litres,5.3 metres,165 Kmph,10.5 Seconds
2,9 speed Tronic,AWD,5,Power,Disc,Disc,"Tubeless,Radial",19,5,550-litres,NaN,217 Kmph,NaN
3,5-Speed,NaN,5,Electric,Disc,Drum,"Radial, Tubeless",NaN,5,268,4.8,NaN,NaN
4,6 Speed,FWD,5,Power,Disc,Drum,Tubeless,NaN,5,400-litres,5.3 metres,165 Kmph,10.5 Seconds

In [103]:
# concate the columns
df_delhi = pd.concat([new_car_details_dh, new_car_overview_dh_top, new_car_specs_ch_top,new_car_specs_ch_data_0, new_car_specs_ch_data_1,new_car_specs_ch_data_2 ], axis=1)

In [104]:
df_delhi['City'] = 'Delhi'

In [105]:
df_delhi.to_csv("./Structured-Data/delhi.csv", index=False)

# 4. Hyderabad Data Structuring

In [106]:
hyderabad_df = pd.read_excel('./Dataset/hyderabad_cars.xlsx')
hyderabad_df.head(2)

,new_car_detail,new_car_overview,new_car_feature,new_car_specs,car_links
0,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...

In [107]:
# drop the car_links
hyderabad_df.drop(columns=['car_links'], inplace=True, axis=1)

In [108]:
# parase all the columns 
hyderabad_df = parse_json_column(hyderabad_df,hyderabad_df.columns)

## New Car Details

In [109]:
new_car_details_hy = pd.json_normalize(hyderabad_df['new_car_detail'])
new_car_details_hy.head()

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,centralVariantId,variantName,price,priceActual,priceSaving,priceFixedText,trendingText.imgUrl,trendingText.heading,trendingText.desc
0,0,Petrol,Hatchback,"20,000",Automatic,1,1st Owner,Volkswagen,Volkswagen Polo,2022,7746,1.0 TSI Highline Plus AT,₹ 10.44 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1,0,Petrol,Hatchback,"85,582",Manual,2,2nd Owner,Hyundai,Hyundai EON,2014,1502,Era Plus,₹ 2.60 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
2,0,Petrol,SUV,"10,000",Manual,1,1st Owner,Hyundai,Hyundai Venue,2023,9153,S BSVI,₹ 9.55 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
3,0,Petrol,Hatchback,"50,750",Manual,1,1st Owner,Maruti,Maruti Baleno,2017,3970,1.2 Alpha,₹ 6.71 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
4,0,Petrol,SUV,"10,000",Automatic,1,1st Owner,Mahindra,Mahindra Thar,2022,8074,LX 4-Str Hard Top AT BSVI,₹ 19 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days

## New Car overview

In [110]:
new_car_overview_hy = pd.json_normalize(hyderabad_df['new_car_overview'])
new_car_overview_hy.head()

        heading                                                top bottomData
0  Car overview  [{'key': 'Registration Year', 'value': '2022',...       None
1  Car overview  [{'key': 'Registration Year', 'value': 'Oct 20...       None
2  Car overview  [{'key': 'Registration Year', 'value': '2023',...       None
3  Car overview  [{'key': 'Registration Year', 'value': 'Mar 20...       None
4  Car overview  [{'key': 'Registration Year', 'value': '2022',...       None

In [111]:
# drop the bottomDate
new_car_overview_hy.drop(columns=['bottomData'], axis=1, inplace=True)

In [112]:
# flatten the top column
new_car_overview_hy_top = new_car_overview_hy['top'].apply(list_to_dict)
new_car_overview_hy_top = pd.json_normalize(new_car_overview_hy_top)
new_car_overview_hy_top.head()

,Registration Year,Insurance Validity,Fuel Type,Seats,Kms Driven,RTO,Ownership,Engine Displacement,Transmission,Year of Manufacture
0,2022,Third Party insurance,Petrol,5 Seats,"20,000 Kms",TS04,First Owner,999 cc,Automatic,2022.0
1,Oct 2014,Third Party insurance,Petrol,5 Seats,"85,582 Kms",TS09,Second Owner,814 cc,Manual,2014.0
2,2023,Third Party insurance,Petrol,5 Seats,"10,000 Kms",NaN,First Owner,1197 cc,Manual,2023.0
3,Mar 2017,Third Party insurance,Petrol,5 Seats,"50,750 Kms",TS07,First Owner,1197 cc,Manual,2017.0
4,2022,Third Party insurance,Petrol,4 Seats,"10,000 Kms",NaN,First Owner,1997 cc,Automatic,2022.0

## New Car specs

In [113]:
new_car_specs_hy = pd.json_normalize(delhi_df['new_car_specs'])
new_car_specs_hy.head()

,heading,top,data,commonIcon
0,Specifications,"[{'key': 'Mileage', 'value': '18 kmpl'}, {'key...","[{'heading': 'Engine and Transmission', 'subHe...",
1,Specifications,"[{'key': 'Mileage', 'value': '15.29 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe...",
2,Specifications,"[{'key': 'Mileage', 'value': '12.74 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe...",
3,Specifications,"[{'key': 'Mileage', 'value': '22.38 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe...",
4,Specifications,"[{'key': 'Mileage', 'value': '15.29 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe...",

In [114]:
# drop the commonIcon
new_car_specs_hy.drop(columns=['commonIcon'], axis=1, inplace=True)

In [115]:
# flatten the top column
new_car_specs_hy_top = new_car_specs_hy['top'].apply(list_to_dict)
new_car_specs_hy_top = pd.json_normalize(new_car_specs_hy_top)
new_car_specs_hy_top.head()

      Mileage   Engine  Max Power Torque Wheel Size Seats
0     18 kmpl  1493 CC  113.43bhp  250Nm         17     5
1  15.29 kmpl  1591 CC   121.3bhp  151Nm        NaN     5
2  12.74 kmpl  1991 CC     197bhp  320nm         19     5
3  22.38 kmpl  1197 CC   88.50bhp  113Nm        NaN     5
4  15.29 kmpl  1591 CC   121.3bhp  151Nm        NaN     5

In [116]:
# flatten the data column
new_car_specs_hy_data = pd.json_normalize(new_car_specs_hy['data'])
new_car_specs_hy_data.head()

,0,1,2
0,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
1,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
2,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
3,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
4,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."

In [117]:
new_car_specs_hy_data_1 = pd.json_normalize(new_car_specs_hy_data[0])
new_car_specs_hy_data_1 = new_car_specs_hy_data_1['list'].apply(list_to_dict)

In [118]:
new_car_specs_hy_data_1 = pd.json_normalize(new_car_specs_hy_data_1)
new_car_specs_hy_data_1.head()

,Color,Engine Type,Displacement,Max Power,Max Torque,No of Cylinder,Values per Cylinder,Fuel Suppy System,Turbo Charger,Value Configuration,Super Charger,BoreX Stroke,Compression Ratio
0,Gray,1.5 L CRDi VGT,1493,113.43bhp@4000rpm,250Nm@1500-2750rpm,4.0,4.0,CRDi,Yes,NaN,NaN,NaN,NaN
1,White,VTVT Petrol Engine,1591,121.3bhp@6400rpm,151Nm@4850rpm,4.0,4.0,MPFI,No,DOHC,No,NaN,NaN
2,Grey,M 264 petrol engine,1991,197bhp@5500-6100rpm,320nm@1650-4000rpm,4.0,4.0,EFI,No,NaN,NaN,NaN,NaN
3,Silver,K Series Dual jet,1197,88.50bhp@6000rpm,113Nm@4400rpm,4.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN
4,White,VTVT Petrol Engine,1591,121.3bhp@6400rpm,151Nm@4850rpm,4.0,4.0,MPFI,No,DOHC,No,NaN,NaN

In [119]:
new_car_specs_hy_data_2 = pd.json_normalize(new_car_specs_hy_data[1])
new_car_specs_hy_data_2 = new_car_specs_hy_data_2['list'].apply(list_to_dict)
new_car_specs_hy_data_2 = pd.json_normalize(new_car_specs_hy_data_2)
new_car_specs_hy_data_2.head()

,Length,Width,Height,Wheel Base,Kerb Weight,Gross Weight,Front Tread,Rear Tread,Ground Clearance Unladen,Gear Box,...,Seating Capacity,Steering Type,Turning Radius,Front Brake Type,Rear Brake Type,Top Speed,Acceleration,Tyre Type,Alloy Wheel Size,No Door Numbers
0,4315mm,1800mm,1645mm,2610mm,1540,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4270mm,1780mm,1630mm,2590mm,"1,310",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4658mm,1890mm,1644mm,2873mm,1585,2360kg,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3845mm,1735,1530,2450,875-905,1335,1530,1530,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4270mm,1780mm,1630mm,2590mm,"1,300",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [120]:
new_car_specs_hy_data_3 = pd.json_normalize(new_car_specs_hy_data[2])
new_car_specs_hy_data_3 = new_car_specs_hy_data_3['list'].apply(list_to_dict)
new_car_specs_hy_data_3 = pd.json_normalize(new_car_specs_hy_data_3)
new_car_specs_hy_data_3.head()

,Gear Box,Drive Type,Seating Capacity,Steering Type,Front Brake Type,Rear Brake Type,Tyre Type,Alloy Wheel Size,No Door Numbers,Cargo Volumn,Turning Radius,Top Speed,Acceleration
0,6-Speed,FWD,5,Electric,Disc,Disc,"Tubeless, Radial",17,5,433,NaN,NaN,NaN
1,6 Speed,FWD,5,Power,Disc,Drum,Tubeless,NaN,5,400-litres,5.3 metres,165 Kmph,10.5 Seconds
2,9 speed Tronic,AWD,5,Power,Disc,Disc,"Tubeless,Radial",19,5,550-litres,NaN,217 Kmph,NaN
3,5-Speed,NaN,5,Electric,Disc,Drum,"Radial, Tubeless",NaN,5,268,4.8,NaN,NaN
4,6 Speed,FWD,5,Power,Disc,Drum,Tubeless,NaN,5,400-litres,5.3 metres,165 Kmph,10.5 Seconds

In [121]:
# concate the columns
df_hyderbad = pd.concat([new_car_details_hy, new_car_overview_hy_top, new_car_specs_hy_top, new_car_specs_hy_data_1,new_car_specs_hy_data_2,new_car_specs_hy_data_3], axis=1)

In [122]:
df_hyderbad['City'] = 'Hyderbad'

# 5. Jaipur Data Structuring

In [123]:
jaipur_df = pd.read_excel("./Dataset/jaipur_cars.xlsx")
jaipur_df.head()

,new_car_detail,new_car_overview,new_car_feature,new_car_specs,car_links
0,"{'it': 0, 'ft': 'Diesel', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...
2,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
3,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...
4,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...

In [124]:
# drop the car_links colun
jaipur_df.drop('car_links',inplace=True, axis=1)

In [125]:
# parse all the columns
jaipur_df = parse_json_column(jaipur_df, jaipur_df.columns)

## New car details

In [126]:
new_car_detail_jp = pd.json_normalize(jaipur_df['new_car_detail'])
new_car_detail_jp.head()

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,centralVariantId,variantName,price,priceActual,priceSaving,priceFixedText,trendingText.imgUrl,trendingText.heading,trendingText.desc
0,0,Diesel,Hatchback,"1,20,000",Manual,2,2nd Owner,Hyundai,Hyundai i20,2015,1487,Asta 1.4 CRDi,₹ 5.10 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1,0,Petrol,Hatchback,"66,951",Manual,1,1st Owner,Maruti,Maruti Swift,2012,10403,VXI,₹ 3.81 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
2,0,Petrol,Hatchback,"80,000",Automatic,2,2nd Owner,Maruti,Maruti Celerio,2016,3982,VXI AT,₹ 3.20 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
3,0,Petrol,Hatchback,"44,392",Manual,1,1st Owner,Hyundai,Hyundai Grand i10,2017,5602,1.2 Kappa Magna BSIV,₹ 4.20 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
4,0,Petrol,Hatchback,"40,000",Automatic,1,1st Owner,Maruti,Maruti Wagon R,2016,4319,AMT VXI,₹ 3.50 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days

## New car Overview

In [127]:
new_car_overview_jp = pd.json_normalize(jaipur_df['new_car_overview'])
new_car_overview_jp.head()

        heading                                                top bottomData
0  Car overview  [{'key': 'Registration Year', 'value': '2015',...       None
1  Car overview  [{'key': 'Registration Year', 'value': 'Jan 20...       None
2  Car overview  [{'key': 'Registration Year', 'value': '2016',...       None
3  Car overview  [{'key': 'Registration Year', 'value': 'Apr 20...       None
4  Car overview  [{'key': 'Registration Year', 'value': '2016',...       None

In [128]:
# flatten the top column
new_car_overview_jp_top = new_car_overview_jp['top'].apply(list_to_dict)
new_car_overview_jp_top = pd.json_normalize(new_car_overview_jp_top)
new_car_overview_jp_top.head()

,Registration Year,Insurance Validity,Fuel Type,Seats,Kms Driven,RTO,Ownership,Engine Displacement,Transmission,Year of Manufacture
0,2015,Third Party insurance,Diesel,5 Seats,"1,20,000 Kms",RJ13,Second Owner,1396 cc,Manual,2015.0
1,Jan 2012,Third Party,Petrol,5 Seats,"66,951 Kms",RJ14,First Owner,1197 cc,Manual,2012.0
2,2016,Third Party insurance,Petrol,5 Seats,"80,000 Kms",RJ14,Second Owner,998 cc,Automatic,2016.0
3,Apr 2017,Third Party insurance,Petrol,5 Seats,"44,392 Kms",RJ14,First Owner,1197 cc,Manual,2017.0
4,2016,Third Party insurance,Petrol,5 Seats,"40,000 Kms",RJ14,First Owner,998 cc,Automatic,2016.0

## New car specs

In [129]:
new_car_specs_jp = pd.json_normalize(jaipur_df['new_car_specs'])
new_car_specs_jp.head()

,heading,top,data,commonIcon
0,Specifications,"[{'key': 'Mileage', 'value': '22.54 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe...",
1,Specifications,"[{'key': 'Mileage', 'value': '22.38 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe...",
2,Specifications,"[{'key': 'Mileage', 'value': '23.1 kmpl'}, {'k...","[{'heading': 'Engine and Transmission', 'subHe...",
3,Specifications,"[{'key': 'Mileage', 'value': '18.9 kmpl'}, {'k...","[{'heading': 'Engine and Transmission', 'subHe...",
4,Specifications,"[{'key': 'Mileage', 'value': '20.51 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe...",

In [130]:
new_car_specs_jp.drop('commonIcon', inplace=True, axis=1)

In [131]:
new_car_specs_jp_top = new_car_specs_jp['top'].apply(list_to_dict)
new_car_specs_jp_top  = pd.json_normalize(new_car_specs_jp_top)
new_car_specs_jp_top.head()

      Mileage   Engine Max Power    Torque Wheel Size Seats
0  22.54 kmpl  1396 CC  88.73bhp   219.7Nm         16     5
1  22.38 kmpl  1197 CC  88.50bhp     113Nm        NaN     5
2   23.1 kmpl   998 CC  67.04bhp      90Nm        NaN     5
3   18.9 kmpl  1197 CC  81.86bhp  113.75nm        NaN     5
4  20.51 kmpl   998 CC     67bhp      90Nm        NaN     5

In [132]:
# flatten the data column
new_car_specs_jp_data = pd.json_normalize(new_car_specs_jp['data'])
new_car_specs_jp_data.head()

,0,1,2
0,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
1,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
2,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
3,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
4,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."

In [133]:
new_car_specs_jp_data_0 = pd.json_normalize(new_car_specs_jp_data[0])
new_car_specs_jp_data_0 =  new_car_specs_jp_data_0['list'].apply(list_to_dict)
new_car_specs_jp_data_0 = pd.json_normalize(new_car_specs_jp_data_0)
new_car_specs_jp_data_0.head()

,Color,Engine Type,Displacement,Max Power,Max Torque,No of Cylinder,Values per Cylinder,Value Configuration,Fuel Suppy System,Turbo Charger,Super Charger,BoreX Stroke,Compression Ratio
0,Others,U2 CRDI Diesel Engine,1396,88.73bhp@4000rpm,219.7Nm@1500-2750rpm,4.0,4.0,DOHC,CRDI,Yes,No,NaN,NaN
1,White,K Series Dual jet,1197,88.50bhp@6000rpm,113Nm@4400rpm,4.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN
2,Others,K10B Engine,998,67.04bhp@6000rpm,90Nm@3500rpm,3.0,4.0,DOHC,MPFi,No,No,73 X 82 mm,11.0:1
3,Silver,Kappa VTVT Petrol Engine,1197,81.86bhp@6000rpm,113.75nm@4000rpm,4.0,4.0,DOHC,MPFI,No,No,NaN,NaN
4,Silver,K10B Petrol Engine,998,67bhp@6000rpm,90Nm@3500rpm,3.0,4.0,DOHC,NaN,No,No,69 x 72 mm,NaN

In [134]:
new_car_specs_jp_data_1 = pd.json_normalize(new_car_specs_jp_data[0])
new_car_specs_jp_data_1 =  new_car_specs_jp_data_1['list'].apply(list_to_dict)
new_car_specs_jp_data_1 = pd.json_normalize(new_car_specs_jp_data_1)
new_car_specs_jp_data_1.head()

,Color,Engine Type,Displacement,Max Power,Max Torque,No of Cylinder,Values per Cylinder,Value Configuration,Fuel Suppy System,Turbo Charger,Super Charger,BoreX Stroke,Compression Ratio
0,Others,U2 CRDI Diesel Engine,1396,88.73bhp@4000rpm,219.7Nm@1500-2750rpm,4.0,4.0,DOHC,CRDI,Yes,No,NaN,NaN
1,White,K Series Dual jet,1197,88.50bhp@6000rpm,113Nm@4400rpm,4.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN
2,Others,K10B Engine,998,67.04bhp@6000rpm,90Nm@3500rpm,3.0,4.0,DOHC,MPFi,No,No,73 X 82 mm,11.0:1
3,Silver,Kappa VTVT Petrol Engine,1197,81.86bhp@6000rpm,113.75nm@4000rpm,4.0,4.0,DOHC,MPFI,No,No,NaN,NaN
4,Silver,K10B Petrol Engine,998,67bhp@6000rpm,90Nm@3500rpm,3.0,4.0,DOHC,NaN,No,No,69 x 72 mm,NaN

In [135]:
new_car_specs_jp_data_2 = pd.json_normalize(new_car_specs_jp_data[0])
new_car_specs_jp_data_2 =  new_car_specs_jp_data_2['list'].apply(list_to_dict)
new_car_specs_jp_data_2 = pd.json_normalize(new_car_specs_jp_data_2)
new_car_specs_jp_data_2.head()

,Color,Engine Type,Displacement,Max Power,Max Torque,No of Cylinder,Values per Cylinder,Value Configuration,Fuel Suppy System,Turbo Charger,Super Charger,BoreX Stroke,Compression Ratio
0,Others,U2 CRDI Diesel Engine,1396,88.73bhp@4000rpm,219.7Nm@1500-2750rpm,4.0,4.0,DOHC,CRDI,Yes,No,NaN,NaN
1,White,K Series Dual jet,1197,88.50bhp@6000rpm,113Nm@4400rpm,4.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN
2,Others,K10B Engine,998,67.04bhp@6000rpm,90Nm@3500rpm,3.0,4.0,DOHC,MPFi,No,No,73 X 82 mm,11.0:1
3,Silver,Kappa VTVT Petrol Engine,1197,81.86bhp@6000rpm,113.75nm@4000rpm,4.0,4.0,DOHC,MPFI,No,No,NaN,NaN
4,Silver,K10B Petrol Engine,998,67bhp@6000rpm,90Nm@3500rpm,3.0,4.0,DOHC,NaN,No,No,69 x 72 mm,NaN

In [136]:
# concate the columns
df_jaipur = pd.concat([new_car_detail_jp, new_car_overview_jp_top, new_car_specs_jp_top, new_car_specs_jp_data_0, new_car_specs_jp_data_1, new_car_specs_jp_data_2], axis=1)

In [137]:
df_jaipur['City'] = 'Jaipur'

In [138]:
df_jaipur.to_csv("./Structured-Data/jaipur.csv", index=False)

# 5. Kolkata Data Structuring

In [139]:
kolkata_df = pd.read_excel("./Dataset/kolkata_cars.xlsx")
kolkata_df.head()

,new_car_detail,new_car_overview,new_car_feature,new_car_specs,car_links
0,"{'it': 0, 'ft': 'Petrol', 'bt': 'Sedan', 'km':...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...
2,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
3,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...
4,"{'it': 0, 'ft': 'Diesel', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...

In [140]:
# drop the carlinks column
kolkata_df.drop("car_links", inplace=True, axis=1)

In [141]:
# parase all the columns
kolkata_df = parse_json_column(kolkata_df, kolkata_df.columns)

## New Car Detail

In [142]:
new_car_details_kl = pd.json_normalize(kolkata_df['new_car_detail'])
new_car_details_kl.head()

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,centralVariantId,variantName,price,priceActual,priceSaving,priceFixedText,trendingText.imgUrl,trendingText.heading,trendingText.desc
0,0,Petrol,Sedan,"70,000",Automatic,3,3rd Owner,Toyota,Toyota Camry,2014,2123,Hybrid,₹ 9.75 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1,0,Petrol,Hatchback,"23,981",Manual,1,1st Owner,Datsun,Datsun RediGO,2017,5236,T Option,₹ 2.66 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
2,0,Petrol,SUV,"7,100",Automatic,1,1st Owner,Renault,Renault Kiger,2021,8352,RXT AMT,₹ 5.95 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
3,0,Petrol,Hatchback,"71,574",Manual,2,2nd Owner,Hyundai,Hyundai i20,2011,1642,1.2 Sportz,₹ 2.23 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
4,0,Diesel,SUV,"50,000",Automatic,2,2nd Owner,Audi,Audi Q3,2014,99,35 TDI Quattro Premium,₹ 12 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days

## New Car Overview

In [145]:
new_car_overview_kl = pd.json_normalize(kolkata_df['new_car_overview'])
new_car_overview_kl.head()

        heading                                                top bottomData
0  Car overview  [{'key': 'Registration Year', 'value': '2014',...       None
1  Car overview  [{'key': 'Registration Year', 'value': 'Jul 20...       None
2  Car overview  [{'key': 'Registration Year', 'value': 'Nov 20...       None
3  Car overview  [{'key': 'Registration Year', 'value': 'Feb 20...       None
4  Car overview  [{'key': 'Registration Year', 'value': '2014',...       None

In [146]:
new_car_overview_kl.drop("bottomData", inplace=True, axis=1)

In [147]:
new_car_overview_kl_top = new_car_overview_kl['top'].apply(list_to_dict)
new_car_overview_kl_top = pd.json_normalize(new_car_overview_kl_top)
new_car_overview_kl_top.head()

,Registration Year,Insurance Validity,Fuel Type,Seats,Kms Driven,RTO,Ownership,Engine Displacement,Transmission,Year of Manufacture
0,2014,Third Party insurance,Petrol,5 Seats,"70,000 Kms",WB02,Third Owner,2494 cc,Automatic,2014.0
1,Jul 2017,Comprehensive,Petrol,5 Seats,"23,981 Kms",WB24,First Owner,799 cc,Manual,2017.0
2,Nov 2021,Comprehensive,Petrol,5 Seats,"7,100 Kms",WB06,First Owner,999 cc,Automatic,2021.0
3,Feb 2012,Third Party,Petrol,5 Seats,"71,574 Kms",WB06,Second Owner,1197 cc,Manual,2011.0
4,2014,Third Party insurance,Diesel,5 Seats,"50,000 Kms",WB02,Second Owner,1968 cc,Automatic,2014.0

## New Car Specs

In [148]:
new_car_specs_kl = pd.json_normalize(kolkata_df['new_car_specs'])
new_car_specs_kl.head()

,heading,top,data,commonIcon
0,Specifications,"[{'key': 'Mileage', 'value': '19.16 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe...",
1,Specifications,"[{'key': 'Mileage', 'value': '22.7 kmpl'}, {'k...","[{'heading': 'Engine and Transmission', 'subHe...",
2,Specifications,"[{'key': 'Mileage', 'value': '19.03 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe...",
3,Specifications,"[{'key': 'Mileage', 'value': '17 kmpl'}, {'key...","[{'heading': 'Engine and Transmission', 'subHe...",
4,Specifications,"[{'key': 'Mileage', 'value': '15.73 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe...",

In [149]:
new_car_specs_kl.drop('commonIcon', inplace=True, axis=1)

In [150]:
new_car_specs_kl_top = new_car_specs_kl['top'].apply(list_to_dict)
new_car_specs_kl_top = pd.json_normalize(new_car_specs_kl_top)
new_car_specs_kl_top.head()

,Mileage,Engine,Max Power,Torque,Wheel Size,Seats
0,19.16 kmpl,2494 CC,158.2bhp,213Nm,17,5
1,22.7 kmpl,799 CC,53.64bhp,72Nm,NaN,5
2,19.03 kmpl,999 CC,71.01bhp,96Nm,NaN,5
3,17 kmpl,1197 CC,80 PS at 5200 rpm,"11.4 kgm at 4,000 rpm",14,5
4,15.73 kmpl,1968 CC,174.33bhp,380Nm,16,5

In [152]:
# data column
new_car_specs_kl_data = pd.json_normalize(new_car_specs_kl['data'])
new_car_specs_kl_data.head()

,0,1,2
0,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
1,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
2,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
3,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
4,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."

In [153]:
new_car_specs_kl_data_0 = pd.json_normalize(new_car_specs_kl_data[0])
new_car_specs_kl_data_0 = new_car_specs_kl_data_0['list'].apply(list_to_dict)
new_car_specs_kl_data_0 = pd.json_normalize(new_car_specs_kl_data_0)
new_car_specs_kl_data_0.head()

,Color,Engine Type,Displacement,Max Power,Max Torque,No of Cylinder,Values per Cylinder,Value Configuration,Fuel Suppy System,BoreX Stroke,Turbo Charger,Super Charger,Compression Ratio
0,White,2AR FXE Petrol Engine,2494,158.2bhp@5700rpm,213Nm@4500rpm,4.0,4.0,DOHC,Electronic Fuel Injection(EFI),90 X 98 mm,No,No,NaN
1,Red,0.8L Petrol Engine,799,53.64bhp@5678rpm,72Nm@4386rpm,3.0,4.0,DOHC,MPFi,NaN,No,No,NaN
2,Blue,1.0L energy,999,71.01bhp@6250rpm,96Nm@3500rpm,3.0,4.0,NaN,MPFi,NaN,NaN,NaN,NaN
3,Red,In-Line Engine,1197,80 PS at 5200 rpm,"11.4 kgm at 4,000 rpm",4.0,4.0,DOHC,MPFI,NaN,No,No,:1
4,White,TDI Diesel Engine,1968,174.33bhp@4200rpm,380Nm@1750-2500rpm,4.0,4.0,DOHC,CRDI,NaN,Yes,No,NaN

In [154]:
new_car_specs_kl_data_1 = pd.json_normalize(new_car_specs_kl_data[1])
new_car_specs_kl_data_1 = new_car_specs_kl_data_1['list'].apply(list_to_dict)
new_car_specs_kl_data_1 = pd.json_normalize(new_car_specs_kl_data_1)
new_car_specs_kl_data_1.head()

,Length,Width,Height,Wheel Base,Front Tread,Rear Tread,Kerb Weight,Gross Weight,Ground Clearance Unladen,Seating Capacity,Steering Type,Tyre Type,Alloy Wheel Size,No Door Numbers
0,4825mm,1825mm,1480mm,2775mm,1580mm,1570mm,1625kg,2100kg,NaN,NaN,NaN,NaN,NaN,NaN
1,3429mm,1560mm,1541mm,2348mm,NaN,NaN,770,NaN,185mm,NaN,NaN,NaN,NaN,NaN
2,3991mm,1750,1605,2500,1536,1535,1055,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3940 mm,1710 mm,1505 mm,"2,525 mm","1,505 mm","1,503 mm",1020,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4385mm,2019mm,1608mm,2603mm,1571mm,1575mm,1660kg,2185kg,NaN,NaN,NaN,NaN,NaN,NaN

In [155]:
new_car_specs_kl_data_2 = pd.json_normalize(new_car_specs_kl_data[2])
new_car_specs_kl_data_2 = new_car_specs_kl_data_2['list'].apply(list_to_dict)
new_car_specs_kl_data_2 = pd.json_normalize(new_car_specs_kl_data_2)
new_car_specs_kl_data_2.head()

,Gear Box,Drive Type,Seating Capacity,Steering Type,Turning Radius,Front Brake Type,Rear Brake Type,Tyre Type,Alloy Wheel Size,No Door Numbers,Cargo Volumn,Acceleration,Top Speed
0,6 Speed,FWD,5,Power,5.5 metres,Ventilated Disc,Solid Disc,"Tubeless,Radial",17,4,NaN,NaN,NaN
1,5-Speed,2WD,5,Power,4.7m,Disc,Drum,NaN,NaN,5,222,NaN,NaN
2,5 Speed,NaN,5,Electric,NaN,Disc,Drum,"Tubeless, Radial",NaN,5,405,NaN,NaN
3,5 Speed,FWD,5,Power,5.20 m,Disc,Drum,"Tubeless,Radial",14,5,295 Lit,12.96 Sec,NaN
4,7-Speed S-Tronic,AWD,5,Power,5.9 metres,Ventilated Disc,Drum,"Tubeless,Radial",16,5,460-litres,8.2 Seconds,212 Kmph

In [156]:
# concate the columns
df_kolkata = pd.concat([new_car_details_kl, new_car_overview_kl_top, new_car_specs_kl_top, new_car_specs_kl_data_0,new_car_specs_kl_data_1, new_car_specs_kl_data_2], axis=1)

In [157]:
df_kolkata['City'] = 'Kolkata'

In [158]:
df_kolkata.to_csv("./Structured-Data/kolkata.csv", index=False)